<div class=" dashboard-full-h">
<!--  <div class="site-page-header-ghost-wrapper bottom-border">-->
<!--    <nz-page-header [nzGhost]="false">-->
<!--      <nz-page-header-title>Hello, {{(shop$ | async)?.username}}!</nz-page-header-title>-->
<!--      &lt;!&ndash;      <nz-page-header-extra>&ndash;&gt;-->
<!--      &lt;!&ndash;        Dashboard Data&ndash;&gt;-->
<!--      &lt;!&ndash;        <nz-switch [(ngModel)]="switchValue" (ngModelChange)="handelData()"></nz-switch>&ndash;&gt;-->
<!--      &lt;!&ndash;      </nz-page-header-extra>&ndash;&gt;-->
<!--    </nz-page-header>-->

<!--  </div>-->

  <div class="content">
    <div class="row">
      <div class="d-flex w-100 align-items-center">
        <p class="welcome mb-0">Welcome back</p>
        <div class="ml-5 pl-3">
          <p class="welcome-name mb-0">{{(shop$ | async)?.username}}!</p>
          <span class="last-online">Last Login: 3 days ago</span>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6 pr-24px">
        <div class="row mt-3">

          <div class="col-12 first-row-panel jobs-panel panel overflow-auto">
            <div class="panel-header">
              <span class="panel-title">Jobs</span>
            </div>
            <div class="" style="position:relative;">
              <ngx-spinner [fullScreen]="false" name="jobsIssuesSpinner"></ngx-spinner>
              <div class="col-12 px-0">
                <div style="position:relative;">
                  <ngx-spinner [fullScreen]="false" name="partsSpinner"></ngx-spinner>


                  <div class="row px-3 d-flex justify-content-center">

                    <ng-container *ngFor="let jobsCount of jobsCounts">
<!--                      <div  class="pointer d-flex align-items-center statistic-box acive-box my-3 active-parts-box" *ngIf="jobsCount.status === 'pending'">-->
<!--                        <img class="img-responsive tile-icon" src="../../../assets/img/parts-tile.svg">-->
<!--                        <div class="ml-3">-->
<!--                          <b class="blue pl-5px counts text-left">{{jobsCount.count}}</b>-->
<!--                          <p class="gray-8 card-text active-title text-left">-->
<!--                            {{jobsCount.status | changeCase : 'sentenceCase'}}-->
<!--                          </p>-->
<!--                        </div>-->
<!--                      </div>-->

                      <div  class="pointer d-flex align-items-center statistic-box active-box my-3 jobs-box" *ngIf="jobsCount.status === 'in_work'">
                        <img class="img-responsive tile-icon" src="../../../assets/img/parts-tile.svg">
                        <div class="ml-3">
                          <b class="blue pl-5px counts text-left jobs-count">{{jobsCount.count}}</b>
                          <p class="gray-8 card-text active-title text-left">
                            {{jobsCount.status | changeCase : 'sentenceCase'}}
                          </p>
                          <p class="gray-8 active-last-week text-left mt-2">
                            4 In work jobs since last week
                          </p>
                        </div>
                      </div>

                      <div  class="pointer d-flex align-items-center statistic-box active-box my-3 shipped-box" *ngIf="jobsCount.status === 'shipped'">
                        <img class="img-responsive tile-icon" src="../../../assets/img/double-tick.svg">
                        <div class="ml-3">
                          <b class="blue pl-5px counts text-left pending-count">{{jobsCount.count}}</b>
                          <p class="gray-8 card-text active-title text-left">
                            {{jobsCount.status | changeCase : 'sentenceCase'}}
                          </p>
                          <p class="gray-8 active-last-week text-left mt-2">
                            4 Shipped jobs since last week
                          </p>
                        </div>
                      </div>

                    </ng-container>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 px-0" style="position:relative;">
            <ngx-spinner [fullScreen]="false" name="rfqsSpinner"></ngx-spinner>
            <div class="col-12 RFQ-panel panel">
              <div class="panel-header">
                <span class="panel-title">RFQs</span>
                <span (click)="viewRFQ()" class="d-flex align-items-center panel-action push-right">View all <i class="ml-1" nz-icon nzType="arrow-right" nzTheme="outline"></i></span>
              </div>
              <div class="row">
                <div class="col-12">
                  <table class="table" *ngIf="rfqs.length!=0">
                    <thead>
                    <tr>
                      <th scope="col " class="text-left gray-7">Newest</th>
                      <th scope="col" class="text-right gray-7">Submissions</th>
                      <th scope="col" class="text-right gray-7">Days left</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="rfqs.length!=0">
                    <tr *ngFor="let rfq of rfqs">
                      <td>
                        <div>
                          <div><b>{{rfq.displayId}}</b></div>
                          <p *ngIf="rfq.status==='accepting_quot  es'" class="no-margin"><span class="green">Accepting Quotes</span> . <a class="gray-7 pl-1">Edit</a> · <a class="blue">Files</a></p>
                          <p *ngIf="rfq.status==='not_accepting_quotes'" class="no-margin"><span class="orange orange border-0 bg-transparent pl-0">Not Accepting Quotes </span> . <a class="gray-7 pl-1">Edit</a> · <a
                            class="blue">Files</a></p>
                        </div>
                      </td>
                      <td class="text-right"><b class="table-data-style font-14-600">{{rfq.submissionsCount}}</b></td>
                      <td class="text-right"><b class="table-data-style font-14-600">{{convertSecondsToDays(rfq.remainingSeconds)}}</b></td>
                    </tr>
                    </tbody>

                  </table>
                  <br *ngIf="rfqs.length==0">
                  <!-- <div class=" pointer add-new-rfq blue col-12" (click)="addRFQ()">
                     <b>Add new RFQ</b>
                     <b class="push-rigth"><img src="../../../assets/img/bold-plus.svg"></b>
               </div> -->

                  <div class="gray-6 no-data-padding" *ngIf="rfqs.length==0">
                    <p class="text-center gray-6">
                      No RFQs available yet.
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pl-24px ">
        <div class="row mt-3">
          <div class="col-12 first-row-panel panel">
            <div class="panel-header">
              <span class="panel-title">Recent Issues</span>
              <span (click)=" viewJobs()" class="d-flex align-items-center panel-action push-right">View all <i class="ml-1" nz-icon nzType="arrow-right" nzTheme="outline"></i></span>
            </div>
            <div class="row" style="position:relative;">
              <ngx-spinner [fullScreen]="false" name="jobsIssuesSpinner"></ngx-spinner>
              <div class="col-12">
                <table class="table" *ngIf="jobsIssues.length!=0">
                  <thead>
                  <tr>
                    <th style="width:45%" class="text-left gray-7">Job ID</th>
                    <th style="width:45%" class="text-left gray-7">Issue Date</th>
                    <!--                    <th class="text-center gray-7">Status</th>-->
                  </tr>
                  </thead>
                  <tbody *ngIf="jobsIssues.length!=0">
                  <tr *ngFor="let issue of jobsIssues">
                    <td>
                      <p class="no-margin">{{issue.jobDisplayId}}</p>
                    </td>
                    <td class="  text-left"><b class="gray-8 table-data-style">{{issue.creationDate | conceptXDateTimePipe : 'date'}} </b></td>
                    <!--                    <td class="  text-center"><b [ngClass]="{'red-6': issue.JobStatus == 'Ongoing','gray-7': issue.JobStatus != 'Ongoing'}" class="red"> {{issue.JobStatus}}</b></td>-->

                  </tr>
                  </tbody>

                </table>
                <br *ngIf="jobsIssues.length==0">


                <div class="gray-6 no-data-padding" *ngIf="jobsIssues.length==0">
                  <p class="text-center gray-6">
                    No known issues available.
                  </p>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 trans-panel panel" style="position:relative;">
            <ngx-spinner [fullScreen]="false" name="transactionsSpinner"></ngx-spinner>
            <div class="panel-header">
              <span class="panel-title">Transaction history</span>
              <span (click)="viewTransactions()" class="d-flex align-items-center panel-action push-right">View all <i class="ml-1" nz-icon nzType="arrow-right" nzTheme="outline"></i></span>
            </div>
            <div class="row">
              <div class="col-12">
                <table *ngIf="transactions.length!=0" class="table">
                  <thead>
                  <tr>
                    <th class="text-left gray-7" scope="col ">Job #</th>
                    <!--                    <th class="text-right gray-7" scope="col">Machine Shop</th>-->
                    <th class="text-right blue" scope="col">Cost</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="transactions.length!=0">
                  <tr *ngFor="let transaction of transactions">
                    <td>
                      <div class="gray-7">
                        <div><b class="text-body"># {{transaction.jobDisplayId}}</b></div>
                        <p class="no-margin">{{transaction.creationDate | date : 'MMM dd, yyyy'}}</p>
                      </div>
                    </td>
                    <!--                    <td class="text-right">-->
                    <!--                      <div class="gray-7">-->
                    <!--                        <div><b>{{transaction.shop.username}}</b></div>-->
                    <!--                        &lt;!&ndash;                        <p class="no-margin">{{transaction.}}</p>&ndash;&gt;-->
                    <!--                      </div>-->
                    <!--                    </td>-->
                    <td class="text-right"><b class=" gray-9">{{transaction.amount | currency: 'USD'}}</b></td>
                  </tr>
                  </tbody>
                </table>
                <!--                <div *ngIf="transactions.length!=0" class=" col-12">-->
                <!--                  <div class="row">-->
                <!--                    <div class="col-4 gray-9">-->
                <!--                      Income | <span class="gray-7"> Nov 1 - Nov 30 </span>-->
                <!--                    </div>-->
                <!--                    <div class="col-4 gray-7">-->
                <!--                      This Week: <span class="blue">$213.90</span>-->
                <!--                    </div>-->
                <!--                    <div class="col-4 gray-7">-->
                <!--                      Available: <span class="green">$3113.90</span>-->

                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
                <div class="gray-6 no-data-padding-trans" *ngIf="transactions.length==0">
                  <p class="text-center gray-6">
                    No transactions available.
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>