<div class=" dashboard-full-h">
  <div class="site-page-header-ghost-wrapper bottom-border">
    <nz-page-header [nzGhost]="false">
      <nz-page-header-title>Hello, {{(shop$ | async)?.username}}!</nz-page-header-title>
      <!--      <nz-page-header-extra>-->
      <!--        Dashboard Data-->
      <!--        <nz-switch [(ngModel)]="switchValue" (ngModelChange)="handelData()"></nz-switch>-->
      <!--      </nz-page-header-extra>-->
    </nz-page-header>

  </div>

  <div class="content">
    <div class="row">
      <div class="col-6 pr-24px">
        <h5><b class="gray-9">Welcome Back</b></h5>
        <small class="gray-8">Here’s an overview of how things are going</small>
        <div class="mt-2">
          <div style="position:relative;">
            <ngx-spinner [fullScreen]="false" name="partsSpinner"></ngx-spinner>
            <h6><b class="gray-9">Jobs</b></h6><br>
            <div class="row">
              <ng-container *ngFor="let jobsCount of jobsCounts">
                <div class="pointer  statistic-box acive-box" *ngIf="jobsCount.status==='pending'">
                  <p class="gray-8 card-text">{{jobsCount.status | changeCase : 'sentenceCase'}}</p>
                  <b class="blue pl-5px">{{jobsCount.count}}</b>
                </div>

                <div class="pointer  statistic-box acive-box" *ngIf="jobsCount.status==='in_work'">
                  <p class="gray-8 card-text">{{jobsCount.status | changeCase : 'sentenceCase'}}</p>
                  <b class="green pl-5px">{{jobsCount.count}}</b>
                </div>

                <div class=" statistic-box finished-box" *ngIf="jobsCount.status==='shipped'">
                  <p class="gray-8 card-text">{{jobsCount.status | changeCase : 'sentenceCase'}}</p>
                  <b class="gray-6 pl-5px">{{jobsCount.count}}</b>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="row" style="position:relative;">
            <ngx-spinner [fullScreen]="false" name="rfqsSpinner"></ngx-spinner>
            <div class="col-12 RFQ-panel panel">
              <div class="panel-header">
                <span class="panel-title">RFQs</span>
                <span (click)="viewRFQ()" class="panel-action push-right">View all <i nz-icon nzType="arrow-right" nzTheme="outline"></i></span>
              </div>
              <div class="row">
                <div class="col-12">
                  <table class="table" *ngIf="rfqs.length!=0">
                    <thead>
                    <tr>
                      <th scope="col " class="text-left gray-7">Newest</th>
                      <th scope="col" class="text-right gray-7">Submissions</th>
                      <th scope="col" class="text-right gray-7">Days left</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="rfqs.length!=0">
                    <tr *ngFor="let rfq of rfqs">
                      <td>
                        <div>
                          <div><b>{{rfq.displayId}}</b></div>
                          <p *ngIf="rfq.status==='accepting_quotes'" class="no-margin"><span class="green">Accepting Quotes</span> . <a class="gray-7 pl-1">Edit</a> · <a class="blue">Files</a></p>
                          <p *ngIf="rfq.status==='not_accepting_quotes'" class="no-margin"><span class="orange">Not Accepting Quotes </span> . <a class="gray-7 pl-1">Edit</a> · <a
                            class="blue">Files</a></p>
                        </div>
                      </td>
                      <td class="text-right"><b class="table-data-style">{{rfq.submissionsCount}}</b></td>
                      <td class="text-right"><b class="table-data-style">{{rfq.remainingSeconds | duration}}</b></td>
                    </tr>
                    </tbody>

                  </table>
                  <br *ngIf="rfqs.length==0">
                  <!-- <div class=" pointer add-new-rfq blue col-12" (click)="addRFQ()">
                     <b>Add new RFQ</b>
                     <b class="push-rigth"><img src="../../../assets/img/bold-plus.svg"></b>
               </div> -->

                  <div class="gray-6 no-data-padding" *ngIf="rfqs.length==0">
                    <p class="text-center gray-6">
                      No RFQs available yet.
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pl-24px ">
        <div class="row">
          <div class="col-12 jobs-panel panel">
            <div class="panel-header">
              <span class="panel-title">Recent Issues</span>
              <span (click)=" viewJobs()" class="panel-action push-right">View all <i nz-icon nzType="arrow-right" nzTheme="outline"></i></span>
            </div>
            <div class="row" style="position:relative;">
              <ngx-spinner [fullScreen]="false" name="jobsIssuesSpinner"></ngx-spinner>
              <div class="col-12">
                <table class="table" *ngIf="jobsIssues.length!=0">
                  <thead>
                  <tr>
                    <th style="width:45%" class="text-left gray-7">Job ID</th>
                    <th style="width:45%" class="text-left gray-7">Issue Date</th>
                    <!--                    <th class="text-center gray-7">Status</th>-->
                  </tr>
                  </thead>
                  <tbody *ngIf="jobsIssues.length!=0">
                  <tr *ngFor="let issue of jobsIssues">
                    <td>
                      <p class="no-margin">{{issue.jobDisplayId}}</p>
                    </td>
                    <td class="  text-left"><b class="gray-8 table-data-style">{{issue.creationDate | conceptXDateTimePipe : 'date'}} </b></td>
                    <!--                    <td class="  text-center"><b [ngClass]="{'red-6': issue.JobStatus == 'Ongoing','gray-7': issue.JobStatus != 'Ongoing'}" class="red"> {{issue.JobStatus}}</b></td>-->

                  </tr>
                  </tbody>

                </table>
                <br *ngIf="jobsIssues.length==0">


                <div class="gray-6 no-data-padding" *ngIf="jobsIssues.length==0">
                  <p class="text-center gray-6">
                    No known issues available.
                  </p>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 trans-panel panel" style="position:relative;">
            <ngx-spinner [fullScreen]="false" name="transactionsSpinner"></ngx-spinner>
            <div class="panel-header">
              <span class="panel-title">Transaction history</span>
              <span (click)="viewTransactions()" class="panel-action push-right">View all <i nz-icon nzType="arrow-right" nzTheme="outline"></i></span>
            </div>
            <div class="row">
              <div class="col-12">
                <table *ngIf="transactions.length!=0" class="table">
                  <thead>
                  <tr>
                    <th class="text-left gray-7" scope="col ">Job #</th>
                    <!--                    <th class="text-right gray-7" scope="col">Machine Shop</th>-->
                    <th class="text-right blue" scope="col">Cost</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="transactions.length!=0">
                  <tr *ngFor="let transaction of transactions">
                    <td>
                      <div class="gray-7">
                        <div><b>{{transaction.jobDisplayId}}</b></div>
                        <p class="no-margin">{{transaction.creationDate | conceptXDateTimePipe : 'date'}}</p>
                      </div>
                    </td>
                    <!--                    <td class="text-right">-->
                    <!--                      <div class="gray-7">-->
                    <!--                        <div><b>{{transaction.shop.username}}</b></div>-->
                    <!--                        &lt;!&ndash;                        <p class="no-margin">{{transaction.}}</p>&ndash;&gt;-->
                    <!--                      </div>-->
                    <!--                    </td>-->
                    <td class="text-right"><b class=" gray-9">{{transaction.amount | currency: 'USD'}}</b></td>
                  </tr>
                  </tbody>
                </table>
                <!--                <div *ngIf="transactions.length!=0" class=" col-12">-->
                <!--                  <div class="row">-->
                <!--                    <div class="col-4 gray-9">-->
                <!--                      Income | <span class="gray-7"> Nov 1 - Nov 30 </span>-->
                <!--                    </div>-->
                <!--                    <div class="col-4 gray-7">-->
                <!--                      This Week: <span class="blue">$213.90</span>-->
                <!--                    </div>-->
                <!--                    <div class="col-4 gray-7">-->
                <!--                      Available: <span class="green">$3113.90</span>-->

                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
                <div class="gray-6 no-data-padding-trans" *ngIf="transactions.length==0">
                  <p class="text-center gray-6">
                    No transactions available.
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nz-footer>
  </nz-footer>
</div>