<nz-content>
<div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
      <nz-page-header-title>Parts Library</nz-page-header-title>
      <nz-page-header-content>
          <div class="row">
              <div class="col-6 p-0 space-b">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" nz-input placeholder="input search text" />
                  </nz-input-group>
                  <ng-template #suffixIconButton>
                    <button nz-button class="grey-icon-btn" nzType="ghost" nzSearch><i nz-icon nzType="search"></i></button>
                  </ng-template>
              </div>
            </div>
       

       
      </nz-page-header-content>
    </nz-page-header>
  </div>
  <div class="p-24px"> 
    <div class="row" >
      
      <div  class="col-3 card-padding">
        <div (click)="addPart()"    class="add-part-box">
          <p class="gray-8 title-add text-center">Add Part</p>
          <p class="text-center bold"><b class="blue text-center pl-5px">+</b></p>  
         </div>
     </div>

      <div *ngFor="let data of Data" class="col-3 card-padding">
        <div (click)="view()"    class="gutter-row   custom-card ">
          <div class="thum">
            <!-- <img src="../../../assets/img/part.png" class="img-responsive part-img" > -->
          </div>
           <div class="content-card">
               <span class="card-title">
                   <b>Bike Handle Bar</b>
               </span>
               <hr>
               <p class="part-number-title">Part number: <span class="part-number">DHV-022-992</span></p>
               <hr>
               <p class="part-number-title">Last edited:  <span class="part-number">31.07.20 | 12:51 PM</span></p>
           </div>
         </div>
     </div>

       
        
         
       
        
       
      </div>
  </div>

    <nz-footer>
        <!-- <a routerLink="/dashboard/parts/add"><button nz-button nzType="primary">+ Add New Part</button></a> -->

        <div class="center-footer">
            <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
        </div>
    </nz-footer>
</nz-content>



 