.white-bg {
    background-color: #fff;
}

.messages {
    /*min-height: 680px;*/
    /*height: 680px;*/
    /*max-height: 680px;*/
    overflow-y: auto;
}

.no-message-container {
    text-align: center;
    padding-top: 124px;
}

.bubble {
    position: relative;
    font-size: 14px;
    width: 380px;
    background: #E8E8E9;
    border-radius: 16px;
    padding: 10px;
    text-align: left;
    color: #595959;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    left: 10px;
}

.bubble-bottom-left:before {
    content: "";
    width: 20px;
    height: 14px;
    position: absolute;
    background-image: url(../../../assets/img/Tail.png);
    left: -5px;
    bottom: -1px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue {
    color: #1890FF;
}

.no-message-p {
    width: 70%;
    margin: auto;
    padding-top: 12px;
    font-size: 20px;
}

.chat-box {
    margin: 0 5%;
    z-index: 999;
}

.send {
    margin-top: 13px;
}

.space-between {
    justify-content: space-between;
}

.push-r {
    float: right;
}

.attach {
    font-size: 28px;

}
.engineer-chat-box .bubble{
    background: #1590ff;
}
.engineer-chat-box .bubble::before{
    content: "";
    width: 20px;
    height: 14px;
    position: absolute;
    background-image: url(../../../assets/img/chat-tail-2.svg);
    left: auto;
    bottom: -1px;
    background-repeat: no-repeat;
    background-size: cover;
    right: -4px;
}
.engineer-chat-box .ant-comment-content-detail p{
    color: white;
    text-align: right;
}

.custom-chat-box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-type{
    margin-bottom: 17%;
}

