<div class="container-64">
  <ngx-spinner [name]="'quoteSpinner'" [fullScreen]="false"></ngx-spinner>
  <ng-container *ngIf="quote!==null && rfq!==null; else noQuote">
    <div class="site-page-header-ghost-wrapper bottom-border">
      <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title><span class="previous">Working Jobs / </span> #{{quote.displayId}} Details</nz-page-header-title>
        <nz-page-header-extra>
          <nz-tag [nzColor]="'orange'" *ngIf="quote.status === 'pending'" class="nz-tag-me">Pinding</nz-tag>
          <nz-tag [nzColor]="'blue'" *ngIf="quote.status === 'approved'" class="nz-tag-me">Approved</nz-tag>
          <nz-tag [nzColor]="'red'" *ngIf="quote.status === 'expired'" class="nz-tag-me">Expired</nz-tag>
          <nz-tag [nzColor]="'gray'" *ngIf="quote.status === 'not_selected'" class="nz-tag-me">Not Selected</nz-tag>
        </nz-page-header-extra>
      </nz-page-header>
    </div>

    <div class="content row">
      <nz-tabset class="col-md-6 border-right" [nzTabBarExtraContent]="extraTemplate">
        <ng-template #extraTemplate>
          <nz-tag *ngIf="rfq.status === 'accepting_quotes'" nzColor="success" class="nz-tag-me">Accepting Quotes</nz-tag>
          <nz-tag *ngIf="rfq.status == 'not_accepting_quotes'" [nzColor]="'red'" class="nz-tag-me">Not Accepting Quotes</nz-tag>
        </ng-template>


        <nz-tab nzTitle="RFQ Details">
          <div class="firts-tab-content">

            <div class="col-md-12 pt-30px scrollable">

              <div class="row">
                <div class="col-md-6">
                  <div class="summary">
                    <h6><b class="mb-2">RFQ SUMMARY</b></h6>
                    <p>
                      Shop handling part: <b>{{quote.shop.companyLegalName}}</b>
                    </p><br>
                    <p>
                      Selected part <b>{{quote.part.name}}</b>
                    </p>
                    <p>
                      Part revision: <b>{{quote.revision.name}}</b>
                    </p>
                    <p>
                      Material selected: <b>{{rfq.materialType}}</b>
                    </p>
                    <p>
                      Quantity: <b>{{rfq.partQuantity}}</b>
                    </p>
                    <p>
                      Part needed by: <b>{{rfq.partDateNeeded | conceptXDateTimePipe}}</b>
                    </p>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="quote.revision.attachments.length > 0">
                  <h6><b class="mb-1">PREVIEW</b></h6>
                  <app-file-previewer [file]="quote.revision.attachments[0]"></app-file-previewer>
                </div>
              </div>
              <div class="mt-30px">

                <div class="mt-4 row">
                  <div class="col-md-12">
                    <h6><b class="mb-2">NOTES</b></h6>
                    <p class="gray-8">
                      {{rfq.notes}}
                    </p>
                  </div>

                </div>
                <div class="mt-4 row" *ngIf="quote.revision.attachments.length > 0">
                  <div class="col-md-12">
                    <h6><b class="mb-2">ATTACHED FILES</b></h6>
                  </div>
                  <div class="col-md-12" *ngFor="let att of quote.revision.attachments">
                    <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">{{att.fileName}}</a>
                  </div>
                </div>
                <div class="mt-4 row">
                  <div class="col-md-12">
                    <h6><b class="mb-2 mt-2">SHIPPING ADDRESS</b></h6>
                  </div>
                  <div class="col-md-6 summary">
                    <p>
                      Name: <b>John Davison Rockefeller Sr. </b>
                    </p>
                    <p>
                      Street: <b>{{rfq.shippingAddress.street}}</b>
                    </p>
                    <p>
                      City: <b>{{rfq.shippingAddress.city}}</b>
                    </p>
                    <p>
                      Country: <b>{{rfq.shippingAddress.country}}</b>
                    </p>
                    <p>
                      Zip code: <b>{{rfq.shippingAddress.zipCode}}</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Quote Details">
          <div class="quote-details-tab">
            <div class="col-md-12 pt-30px scrollable">
              <div class="row">
                <div class="col-md-6">
                  <div class="summary">
                    <p>
                      Shop Name: <b> {{quote.shop.companyLegalName}}</b>
                    </p>
                    <p>
                      Address: <b> {{quote.shop.addressLine1}}</b>
                    </p>
                    <p *ngIf="quote.shop.addressLine2">
                      Address-2: <b> {{quote.shop.addressLine2}}</b>
                    </p>
                    <p>
                      City: <b>{{quote.shop.city}}</b>
                    </p>
                    <p>
                      State: <b> {{quote.shop.state}}</b>
                    </p>
                    <p>
                      Country: <b> {{quote.shop.country}}</b>
                    </p>
                    <p>
                      Shop Phone Number: <b> {{quote.shop.businessPhoneNumber}}</b>
                    </p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="summary">
                    <!-- <h6><b class="mb-1">QUOTE #2308</b></h6> -->
                    <p>
                      Engineer Name: <b> {{rfq.engineer.username}}</b>
                    </p>
                    <p>
                      Part Name: <b> {{quote.part.name}}</b>
                    </p>
                    <p>
                      Engineer Email: <b> {{rfq.engineer.email}}</b>
                    </p>
                  </div>
                </div>
              </div>
              <div class="mt-30px">
                <nz-table [nzShowPagination]="false" #basicTable [nzData]="quote.lineItems">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Cost</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let lineItem of quote.lineItems">
                    <td>{{ lineItem.id }}</td>
                    <td>{{ lineItem.description }}</td>
                    <td>{{ lineItem.quantity }}</td>
                    <td>${{ lineItem.price | currency: 'USD' }}</td>
                    <td>${{ (lineItem.price * lineItem.quantity) | currency: 'USD' }}</td>

                  </tr>
                  </tbody>
                </nz-table>
                <div class="mt-2 row">
                  <div class="col-md-8">
                    <b>Note</b>
                    <p>
                      {{quote.shopQuoteNotes}}
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class=" tax text-center">+ Tax {{quote.tax | currency: 'USD'}}</p>
                    <p class=" tax text-center">+ Shipping rate {{quote.shippingRate | currency: 'USD'}}</p>
                    <nz-table [nzShowPagination]="false" #basicTable [nzData]="[quote.grandTotal]">
                      <thead>
                      <tr>
                        <th>Grand Total</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="blue">{{quote.grandTotal | currency: 'USD'}}</td>
                      </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
                <ng-container *ngIf="quote.attachments.length > 0">
                  <div>
                    <span class="blue">*</span>Attached files
                  </div>
                  <div *ngFor="let att of quote.attachments">
                    <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">{{att.fileName}}</a>
                  </div>
                </ng-container>
              </div>

            </div>
          </div>
        </nz-tab>
      </nz-tabset>


      <nz-tabset class="col-md-6">

        <nz-tab [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon nzType="message" nzTheme="outline"></i>
            Chat
          </ng-template>
          <div class=" chat-tap col-md-12 white-bg">
            <nz-list class="messages" *ngIf="data.length" [nzDataSource]="data"
                     [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
              <ng-template #item let-item>

                <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
                  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                  <nz-comment-content class="bubble bubble-bottom-left">
                    <b class="red">{{item.title}}</b>
                    <p>{{ item.content }}</p>
                  </nz-comment-content>
                </nz-comment>
              </ng-template>
            </nz-list>
            <div class="messages no-message-container" *ngIf="!data.length">
              <!-- <img *ngIf="status=='shipped'" src="../../../../../assets/img/chatIcon-red.svg" > -->
              <img src="../../../assets/img/chatIcon-blue.svg">
              <p class="blue no-message-p">
                Engage with the Machine Shop handling
                this part by sending them a message or
                aising an issue if something uncontrolled comes up.
              </p>

              <!-- <p *ngIf="status=='shipped'" class="red no-message-p">
                You are about to raise an issue with the Machine Shop handling this part.
              </p> -->

            </div>
            <nz-comment class="chat-box">
              <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
              <nz-comment-content>
                <nz-form-item>
                  <input *ngIf="issue" nz-input class="mb-2" placeholder="Title" [(ngModel)]="titleValue"/>

                  <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                </nz-form-item>
                <nz-form-item class="send space-between">
                  <button *ngIf="!issue" (click)="startIssue()" nz-button nzType="primary" nzDanger>Report Issue <i nz-icon nzType="exclamation-circle" nzTheme="outline"></i></button>
                  <button *ngIf="issue" (click)="cancelIssue()" nz-button nzType="default" nzDanger class="gray-9">Cancel</button>

                  <div class="push-r">
                    <i class="attach pr-3" nz-icon nzType="paper-clip" nzTheme="outline"></i>
                    <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
                      Add Comment
                    </button>
                  </div>
                </nz-form-item>
              </nz-comment-content>
            </nz-comment>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
    <nz-footer>
      <div>
        <button (click)="close()" nz-button class="mar-2">Close</button>
        <button (click)=" showArchive()" nz-button class="mar-2" nzType="danger">Archive Quote</button>
      </div>


      <div class="push-r">
        <button nz-button class="mar-2" (click)="startJob()" [disabled]="quote.status!=='approved'" nzType="primary">Start Project <i nz-icon nzType="arrow-right" nzTheme="outline"></i></button>
      </div>

    </nz-footer>
  </ng-container>
  <ng-template #noQuote>
    <!--  ToDo  what to show if no rfq-->
    No quote
  </ng-template>
</div>