.rightSide{
    height: 100vh;
    background: url(../../../assets/img/passwordRec.png); 
    background-size: cover;
}
.lpContent{
    padding: 48px 96px 0px 96px;
    background-color: #FAFAFA;

}
h1{
font-family: SFPDRegular;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
color: #1890FF;
padding-top: 50px;
}
.fullheight{
    height: 100% !important;
}
.home-desc{
    font-family: SFPDRegular;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #595959;
}
.outlinebtn{
    color: #1890FF;
    border: 1px solid  #1890FF;
    
}
.form-card{
   width: 330px;
   display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
background: #FFFFFF;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
border-radius: 2px;
}

.form-title{
    width: 100%;
    font-family: SFPDsemi;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
.space-between{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.link{
    color:#1890FF !important;
    font-size: 14px;
}
.register-now{
    width: 100%;
    text-align: center;
}
.register-now>p{
    margin-bottom: 0;
}