<div class="container-fluid fullheight">
    <div class="row fullheight">
    <div class="col-md-6 lpContent">
        <div class="row ml-0 mr-0">
            <div class="col align-self-start px-0">
              <a routerLink="/">
                <img src="../../../assets/img/logoConceptX.svg" class="img-responsive" width="208px">
              </a>
            </div>
            </div>
        <div>
          <h1>
            Your new password
        </h1>
        <p class="home-desc">
            Separated they live in Bookmarksgrove right at the coast of the famous Semantics, 
            large language ocean and many more stuff and more more more
        </p>
        <div class="mt-48 form-card">
            <p class="form-title">Enter password</p>

            <nz-input-group  [nzPrefix]="prefixLetter" class="mt-0">
                <input type="password" nz-input placeholder="New Password" />
              </nz-input-group>
              <ng-template #prefixLetter><i nz-icon style="color:#1890FF;" nzType="mail"></i></ng-template>

              <nz-input-group  [nzPrefix]="prefixUsername" class="mt-4">
                <input type="password" nz-input placeholder="Verify Password" />
              </nz-input-group>
              <ng-template #prefixUsername><i nz-icon style="color:#1890FF;" nzType="mail"></i></ng-template>



              <button nz-button class="mt-3"  nzType="primary" disabled nzBlock>Sign in with new password</button>
                <div class="register-now mt-3">
            </div>
        </div>
        </div>
     
        
    </div>
    <div class="col-md-6 rightSide"></div>
</div>
</div>