<nz-content>
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
      <nz-page-header-title>RFQs</nz-page-header-title>
      <nz-page-header-content>
        <div class="row">
          <div class="col-6 p-0 space-b">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input [(ngModel)]="searchKey" type="text" nz-input placeholder="Search part name / Quote Number / RFQ ID"/>
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button class="grey-icon-btn" nzType="ghost" (click)="searchRfqs()" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
          </div>
        </div>

      </nz-page-header-content>

    </nz-page-header>
  </div>
  <div class="p-24px">
    <div nz-row nzGutter="">

      <nz-table [nzShowPagination]="false" class="col-12" #basicTable [nzData]="rfqsPage">
        <thead>
        <tr>
          <th>RFQ #</th>
          <th>Quantity</th>
          <th>Date Needed</th>
          <th class="text-center">Remaining Time</th>
          <th class="text-center">Submissions</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="onSelect(rfq)" class="pointer" *ngFor="let rfq of rfqsPage">
          <td class="frq-id">{{rfq.displayId}}</td>
          <td>{{rfq.partQuantity}}</td>
          <td>{{rfq.partDateNeeded | conceptXDateTimePipe}}</td>
          <td class="text-center">{{rfq.remainingSeconds > 0 ? (rfq.remainingSeconds | duration) : 0}}</td>
          <td class="text-center">{{rfq.submissionsCount}}</td>
          <td class="text-center">
            <a class="blue pointer" (click)="onSelect(rfq)">
              View
            </a>
          </td>

        </tr>
        </tbody>
      </nz-table>


    </div>
  </div>

  <nz-footer>
    <div class="center-footer">
      <nz-pagination [(nzPageIndex)]="currentPage" [(nzPageSize)]="pageSize" [nzTotal]="rfqsCount" (nzPageIndexChange)="changePage($event)"></nz-pagination>
    </div>
  </nz-footer>
</nz-content>
    
    
    
     