<div class="container-64">
  <ngx-spinner [name]="'rfqSpinner'" [fullScreen]="false"></ngx-spinner>
  <ng-container *ngIf="rfq!==null; else noRfq">
    <div class="site-page-header-ghost-wrapper bottom-border">
      <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title><span class="previous">New RFQs / </span> RFQ #{{rfq.displayId}} </nz-page-header-title>
      </nz-page-header>
    </div>

    <div class="content row">

      <div class="col-3 gray-bg"></div>
      <div class="col-6 pt-30px scrollable">

        <div class="row">
          <div class="col-6">
            <div class="summary">
              <h6><b class="mb-2">RFQ Summary</b></h6>
              <!-- <p>
                Shop handling part: <b>Metal Shop X</b>
              </p> -->
              <p>
                Selected part <b>{{rfq.part.name}}</b>
              </p>
              <p>
                Part revision: <b>{{rfq.revision.name}}</b>
              </p>
              <p>
                Material selected: <b>{{rfq.materialType}}</b>
              </p>
              <p>
                Quantity: <b>{{rfq.partQuantity}}</b>
              </p>
              <p>
                Part needed by: <b>{{rfq.partDateNeeded | conceptXDateTimePipe}}</b>
              </p>
            </div>
          </div>

          <div class="col-6" *ngIf="rfq.revision.attachments?.length > 0">
            <h6><b class="mb-1">PREVIEW</b></h6>
            <app-file-previewer [file]="rfq.revision.attachments[0]"></app-file-previewer>
          </div>
        </div>
        <div class="mt-30px">

          <div class="mt-4 row">
            <div class="col-12">
              <h6><b class="mb-2">NOTES</b></h6>
              <p>
                {{rfq.notes}}
              </p>
            </div>

          </div>
          <div class="mt-4 row" *ngIf="rfq.revision.attachments?.length > 0">
            <div class="col-12">
              <h6><b class="mb-2">ATTACHED FILES</b></h6>
            </div>
            <div class="col-12" *ngFor="let att of rfq.revision.attachments">
              <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">{{att.fileName}}</a>
            </div>
          </div>
          <div class="mt-4 row" *ngIf="rfq.shippingAddress">
            <div class="col-12">
              <h6><b class="mb-2 mt-2">SHIPPING ADDRESS</b></h6>
            </div>
            <div class="col-md-6 summary">

              <p>
                Street: <b>{{rfq.shippingAddress.street}}</b>
              </p>
              <p>
                City: <b>{{rfq.shippingAddress.city}}</b>
              </p>
              <p>
                Address: <b>{{rfq.shippingAddress.country}}</b>
              </p>
              <p>
                Zip code: <b>{{rfq.shippingAddress.zipCode}}</b>
              </p>
            </div>

          </div>

        </div>
      </div>
      <div class="col-3 gray-bg"></div>
    </div>
    <nz-footer>
      <button (click)="apply()" [disabled]="rfq.status!=='accepting_quotes'" nz-button class="mar-2" nzType="primary">Apply for this job</button>
    </nz-footer>
  </ng-container>
  <ng-template #noRfq>
    <!--  ToDo  what to show if no rfq-->
    No Request quote
  </ng-template>
</div>
