<div class="container-64">
    <div class="site-page-header-ghost-wrapper bottom-border">
        <nz-page-header nzBackIcon [nzGhost]="false">
          <nz-page-header-title><span class="previous">New RFQs / </span>  RFQ #2132 </nz-page-header-title>
        </nz-page-header>
      </div>
    
      <div class="content row">
        
          <div class="col-3 gray-bg"></div>
          <div class="col-6 pt-30px scrollable">
          
                <div class="row">
                    <div class="col-6">
                        <div class="summary">
                            <h6><b class="mb-2">RFQ Summary</b></h6>
                            <!-- <p>
                              Shop handling part: <b>Metal Shop X</b> 
                            </p> -->
                            <p>
                              Selected part <b>ASD-491-231</b> 
                            </p>
                            <p>
                              Part revision: <b>Revision C</b> 
                            </p>
                            <p>
                              Material selected: <b>Aluminium</b> 
                            </p>
                            <p>
                              Quantity: <b>12</b> 
                            </p>
                            <p>
                              Part revision: <b>Revision C</b> 
                            </p>
                            <p>
                              Selected part <b>ASD-491-231</b> 
                            </p>
                            <p>
                              Part needed by: <b>29.10.2020 C</b> 
                            </p>
                          </div>
                    </div>
    
                    <div class="col-6">
                      <h6><b class="mb-1">PREVIEW</b></h6>
                      <div class="preview">
              
                      </div>
              
                    </div>
                </div>
                <div class="mt-30px">
                    
                  <div class="mt-4 row">
                          <div class="col-12">
                              <h6><b class="mb-2">NOTES</b></h6>
                              <p>
                                  Continually fashion strategic metrics through interdependent partnerships. Dramatically disseminate enterprise-wide initiatives vis-a-vis distributed alignments. Phosfluorescently 
                                  leverage existing revolutionary alignments rather than client-centric process improvements.
                                  <br><br> 
                                  Continually fashion strategic metrics through interdependent partnerships. Dramatically disseminate enterprise-wide initiatives vis-a-vis distributed alignments. Phosfluorescently 
                                  leverage existing revolutionary alignments rather than client-centric process improvements.          
                             </p>
                          </div>
  
                      </div>
                      <div class="mt-4 row">
                          <div class="col-12">
                              <h6><b class="mb-2">ATTACHED FILES</b></h6>
                          </div>
                          <div class="col-12"> 
                            <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">FSJ-322-901_Rvision-C.PDF</a>
                          </div>
                      </div>
                      <div class="mt-4 row">
                          <div class="col-12">
                              <h6><b class="mb-2 mt-2">SHIPPING ADDRESS</b></h6>
                          </div>
                          <div class="col-md-6 summary">
              
                            <p>
                              Name: <b>John Davison Rockefeller Sr. </b> 
                            </p>
                            <p>
                              Address: <b>Upstate New York</b> 
                            </p>
                            <p>
                              City: <b>Utica</b> 
                            </p>
                            <p>
                              Quantity: <b>12</b> 
                            </p> 
                            <p>
                              Selected part <b>ASD-491-231</b> 
                            </p>
                            <p>
                              Part revision: <b>Revision C</b> 
                            </p>
                           
                            <p>
                              Part needed by: <b>29.10.2020 C</b> 
                            </p>
                          </div>
                          
                      </div>
                     
                </div>
    
         


          </div>
      
            <div class="col-3 gray-bg"></div>
        
      </div>
      
    
    
      <nz-footer>
        <button (click)="apply()"  nz-button class="mar-2" nzType="primary">Apply for this job</button>
    </nz-footer>
    
    
    
    