<div class="container-64px">
<div class="site-page-header-ghost-wrapper bottom-border">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Terms & Conditions</nz-page-header-title>
    </nz-page-header>
  </div>

  <div class="content">
    <div class="terms-p">
        <h5 class="title blue">Usage</h5>
        <p class="gray-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat, turpis eu gravida eleifend, dui risus dapibus nulla, venenatis hendrerit odio est sit amet neque. Duis id ex quis elit rutrum varius. Vestibulum tristique orci sed sollicitudin molestie. Donec scelerisque aliquet libero, sit amet viverra sapien feugiat sed. Quisque condimentum quam in neque laoreet dictum. Donec pellentesque vel odio vitae congue. Etiam quis accumsan metus. Vestibulum semper a sapien sollicitudin rutrum. Sed gravida elit eu turpis efficitur, et fringilla tortor gravida. Vestibulum ex felis, convallis ultricies tellus sit amet, sodales vulputate metus. Nam consectetur dolor mauris, id vehicula arcu finibus nec. Ut ullamcorper quis nisl rhoncus tristique. 
            Mauris consectetur tempus eleifend. Duis vehicula fermentum metus posuere ullamcorper.
        </p>
    </div>

    <div class="terms-p">
        <h5 class="title blue">Trademarks</h5>
        <p class="gray-8">
            Mauris interdum lacus sed risus pharetra, in elementum sapien commodo. Fusce et lacus lacinia metus scelerisque fermentum vehicula eget ante. Vivamus efficitur euismod tellus, eget vehicula sapien fringilla eget. Maecenas venenatis hendrerit arcu, laoreet ullamcorper lacus sagittis hendrerit. Morbi pharetra sollicitudin porta. Nulla dignissim mauris in libero mollis convallis. Pellentesque eu metus purus. Mauris gravida sodales orci in molestie. Etiam risus sapien, ullamcorper et gravida sagittis, lobortis et ipsum. Donec sit amet purus interdum, dictum justo luctus, auctor augue. Vestibulum bibendum ex quis magna fermentum cursus. Phasellus blandit sapien sit amet felis mollis posuere vel ut erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubili
            a curae; Fusce mauris sem, blandit ut semper vel, rhoncus vitae dui. Maecenas eu aliquam arcu.
        </p>
    </div>

    <div class="terms-p">
        <h5 class="title blue">Feedback</h5>
        <p class="gray-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat, turpis eu gravida eleifend, dui risus dapibus nulla, venenatis hendrerit odio est sit amet neque. Duis id ex quis elit rutrum varius. Vestibulum tristique orci sed sollicitudin molestie. Donec scelerisque aliquet libero, sit amet viverra sapien feugiat sed. Quisque condimentum quam in neque laoreet dictum. Donec pellentesque vel odio vitae congue. Etiam quis accumsan metus. Vestibulum semper a sapien sollicitudin rutrum. Sed gravida elit eu turpis efficitur, et fringilla tortor gravida. Vestibulum ex felis, convallis ultricies tellus sit amet, sodales vulputate metus. Nam consectetur dolor mauris, id vehicula arcu finibus nec. Ut ullamcorper quis nisl rhoncus tristique. 
            Mauris consectetur tempus eleifend. Duis vehicula fermentum metus posuere ullamcorper.
        </p>
    </div>

    <div class="terms-p">
        <h5 class="title blue">Prohibited behavior</h5>
        <p class="gray-8">
            Fusce sed gravida metus. Fusce eu efficitur tellus, vitae auctor dolor. Vestibulum sodales lacus risus, nec maximus lacus venenatis eu. Phasellus hendrerit sit amet dui at aliquam. Nam tincidunt mi molestie tortor lobortis finibus. Vestibulum et dignissim ante. Duis accumsan leo blandit nisl molestie, id iaculis justo fringilla. Nullam ut risus consequat, dictum felis sit amet, feugiat lorem. Nulla in congue sem. Nulla eu commodo ipsum. Aenean ut pellentesque metus. Curabitur rhoncus ut neque et ultrices. Nunc eu condimentum erat, ac egestas magna. Donec porta,
             nulla in cursus dignissim, nunc mauris dignissim enim, tincidunt consequat dui nisl sed tellus.
        </p>
    </div>

    <div class="terms-p">
        <h5 class="title blue">Data retention policy</h5>
        <p class="gray-8">
            Proin vel venenatis ligula. Fusce blandit dui et urna efficitur interdum. Proin blandit lacinia risus at viverra. Ut consectetur rhoncus volutpat. Fusce ut magna quis orci commodo malesuada. Suspendisse malesuada laoreet odio non placerat. Ut sapien velit, aliquet eu consequat non, interdum sit amet mauris. Donec congue nec est nec mollis. Sed mauris leo, malesuada nec cursus vitae, porta interdum felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer 
            eget tincidunt ex. Etiam a turpis sit amet nibh malesuada aliquam et aliquam turpis.
        </p>
    </div>
    <div class="terms-p">
        <h5 class="title blue">Termination and modification</h5>
        <p class="gray-8">
            Mauris interdum lacus sed risus pharetra, in elementum sapien commodo. Fusce et lacus lacinia metus scelerisque fermentum vehicula eget ante. Vivamus efficitur euismod tellus, eget vehicula sapien fringilla eget. Maecenas venenatis hendrerit arcu, laoreet ullamcorper lacus sagittis hendrerit. Morbi pharetra sollicitudin porta. Nulla dignissim mauris in libero mollis convallis. Pellentesque eu metus purus. Mauris gravida sodales orci in molestie. Etiam risus sapien, ullamcorper et gravida sagittis, lobortis et ipsum. Donec sit amet purus interdum, dictum justo luctus, auctor augue. Vestibulum bibendum ex quis magna fermentum cursus. Phasellus blandit sapien sit amet felis mollis posuere vel ut erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
             curae; Fusce mauris sem, blandit ut semper vel, rhoncus vitae dui. Maecenas eu aliquam arcu.
        </p>
    </div>
  </div>

  <nz-footer>
      
    <button type="submit" nz-button class="mar-2" nzType="primary" [disabled]="scroll " >Agree and continue <i nz-icon nzType="arrow-right" nzTheme="outline"></i></button>
</nz-footer>
</div>