<div class="container-64px">
  <ngx-spinner></ngx-spinner>
  <ng-container >
    <div class="invoice-container mt-5">
      <div class="d-flex justify-content-between">
        <div>
          <p  class="font-20-600">Job #{{quoteInvoice?.payment.invoiceNumber}} Invoice</p>
        </div>

        <button  class="d-flex align-items-center" (click)="downloadInvoice()" nz-button nzType="default"><i nz-icon nzTheme="outline" nzType="download"></i>Download invoice</button>
      </div>
      <div class="content mb-4">
        <div class="col-12 pt-30px scrollable bg-white" id="pdfAnchor">
          <div class="header">
            <img width="140px" src="assets/img/logoConceptX-Beta.svg">
            <div class="push-right text-right">
              <b class="blue font-16-600 blue-7">Invoice</b><br>
              <small class="font-16-600 push-right gray-7 mb-1">#{{quoteInvoice?.payment.invoiceNumber}}</small>
            </div>

            <hr class="mt-30px">
          </div>
          <div class="row">
            <div class="col-6">
              <div class="summary">
                <h6 class="gray-9"><b class="mb-1 font-16-600">Billed to</b></h6>
                <p class="gray-7">
                  Shop Name:
                  <span class="gray-7 font-14-600">{{quoteInvoice?.shop.companyLegalName}}</span>
                </p>

                <p class="gray-7">
                  Address:
                  <span class="gray-7 font-14-600">{{quoteInvoice?.shop.addressLine1}}</span>
                </p>

                <p class="gray-7" *ngIf="quoteInvoice?.shop.addressLine2">
                  Address 2:
                  <span class="gray-7 font-14-600">{{quoteInvoice?.shop.addressLine2}}</span>
                </p>

                <p class="gray-7">
                  City:
                  <span class="gray-7 font-14-600">{{quoteInvoice?.shop.city}}</span>
                </p>

                <p class="gray-7">
                  State:
                  <span class="gray-7 font-14-600">{{quoteInvoice?.shop.state}}</span>
                </p>

                <p class="gray-7">
                  Shop Phone Number:
                  <span class="gray-7 font-14-600">{{quoteInvoice?.shop.businessPhoneNumber}}</span>
                </p>

              </div>
            </div>

            <div class="col-6">
              <div class="summary text-right">
                <div>
                  <h6><b class="mb-1">QUOTE No #{{quoteInvoice?.displayId}}</b></h6>
                  <p class="font-14-600 gray-7">
                    {{quoteInvoice?.creationDate | date:"MMM dd, yyyy"}}
                  </p>
                  <p class="font-14-600 gray-7">
                    {{quoteInvoice?.engineer.username}}
                  </p>
                  <p class="font-14-600 gray-7">
                    {{quoteInvoice?.part.name}}
                  </p>
                  <p class="font-14-600 gray-7">
                    {{quoteInvoice?.engineer.email}}
                  </p>
                  <p class="font-14-600 gray-7">
                    Engineer Address Line 1
                  </p>
                </div>

              </div>
            </div>
          </div>

          <hr class="mt-30px">

          <p class="font-16-600 m-0">Summary</p>
          <div class="mt-3">
            <nz-table #basicTable [nzData]="quoteInvoice?.lineItems" [nzShowPagination]="false">
              <thead>
              <tr>
                <th>#</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit Cost</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
              <!--            <tr *ngFor="let item of basicTable.data">-->
              <tr *ngFor="let item of quoteInvoice?.lineItems">
                <td>{{ item.id }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price | currency: 'USD' }}</td>
                <td>{{ (item.price * item.quantity) | currency: 'USD' }}</td>
              </tr>

              <tr class="font-14-600 sky-blue tr">
                <td></td>
                <td></td>
                <td></td>
                <td class="font-14-400">+ Shipping Cost </td>
                <td class="font-14-400">{{quoteInvoice?.shippingRate | currency: 'USD'}}</td>
              </tr>
              <tr class="sky-blue tr">
                <td></td>
                <td></td>
                <td></td>
                <td>+ Platform Fees</td>
                <td class="font-14-600 blue-8">{{quoteInvoice?.platformFees | currency: 'USD'}}</td>
              </tr>
              <tr class="sky-blue tr">
                <td></td>
                <td></td>
                <td></td>
                <td>+ TAX </td>
                <td>{{quoteInvoice?.tax | currency:'USD'}}</td>
              </tr>
              <tr class="grand-total tr">
                <td></td>
                <td></td>
                <td></td>
                <td class="text-white font-14-600">Grand Total </td>
                <td class="text-white font-14-600">{{quoteInvoice?.grandTotal | currency: 'USD'}}</td>
              </tr>
              </tbody>
            </nz-table>

          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noInvoice>
    <!--  ToDo  what to show if no rfq-->
    No Invoice
  </ng-template>
</div>