.previous{
    color:rgba(191,191,191,1);
    font-size: 20px;
    font-family: SFPDLight !important;
}

.container-63px{
    height: calc(100vh - 64px);
}
.content{
    overflow-y: auto;
    height: calc(100% - 136px);
}
nz-footer{
    padding: 16px 24px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color:#fff ;
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 210px);
    height: 64px;
}
.blue{
    color: #1890ff;
}
.mar-2{
    margin-right: 12px;
}
.header{
    font-size: 20px;
}
.push-right{
    float: right !important;
}
.summary>p{
    margin: 0px !important;
}

.summary>title{
    font-size: 20px;
    color:#262626;
}
.text-right{
    text-align: right;
}
th{
    font-weight: 900 !important;
    color: #262626 !important;
}
.mt-30px{
    margin-top: 30px;

}

.modal-content-custom-email{
    padding: 20px;
}
.modal-content{
    padding: 33px 11px;
}
.modal {
    background-color:rgba(0, 39, 102, 0.8);
    backdrop-filter: blur(4px);
}
.modal-dialog{
    margin: auto;
    width: 33% !important;
}


.gray-bg{
    background-color: #F5F5F5;
}
.pt-30px{
    padding-top:30px;
}
.full-height{
    height: 100% !important;
}
.tax{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    padding-left: 10px;
}
.o20px-size{
    font-size: 20px;
}
.scrollable{
    padding: 25px 50px;
}

/* new changes */

.invoice-container{
    max-width: 55%;
    margin: auto;
    margin-top: 1% !important;
}

.grand-total td{
    background: #40A9FF;
}

.grand-total:hover td{
    background: #40A9FF !important;
}

.summary p{
    margin-bottom: 5px !important;
}

.sky-blue td{
    border-bottom: 1px solid white;
}

.custom-hr {
    margin-bottom: .8em !important;
}