<nz-content>
  <div class="d-flex mt-4 mb-3 submitted-quote-header">
    <p class="font-16-600 m-0">Submitted Quotes</p>
    <div class="ml-3">
      <nz-tag class="nz-tag-me w-100" nzColor="success">Approved Quotes: {{approvedSubmittedQuotesCount}}</nz-tag>
    </div>
  </div>
  <div class="p-24px">
    <div nz-row nzGutter="">
      <div class="search-bar col-12 my-3 pl-2">
        <div class="col-6 p-0 space-b">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input [(ngModel)]="searchKey" type="text" nz-input placeholder="Search part name / Quote Number / RFQ ID"/>
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button class="grey-icon-btn" nzType="ghost" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>
      </div>
      <nz-table [nzShowPagination]="false" class="col-12" #basicTable [nzData]="submittedQuotesPage">
        <thead>
        <tr>
          <th>Quote ID</th>
          <th>Quote Creation Date</th>
          <th class="text-right">Total Cost</th>
          <th class="text-center">Status</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="onSelect(quote)" *ngFor="let quote of submittedQuotesPage">
          <td class="frq-id">{{quote.displayId}}</td>
          <td>{{quote.creationDate | conceptXDateTimePipe}}</td>
          <td class="text-right">$ {{quote.grandTotal}}</td>
          <td class="text-center" *ngIf="quote.status=='approved'">
            <nz-tag [nzColor]="'blue'" class="nz-tag-me">Approved</nz-tag>
          </td>
          <td class="text-center" *ngIf="quote.status=='expired'">
            <nz-tag [nzColor]="'red'" class="nz-tag-me">Expired</nz-tag>
          </td>
          <td class="text-center" *ngIf="quote.status=='not_selected'">
            <nz-tag [nzColor]="'red'" class="nz-tag-me">Not Selected</nz-tag>
          </td>
          <td class="text-center" *ngIf="quote.status=='pending'">
            <nz-tag [nzColor]="'orange'" class="nz-tag-me">Pending</nz-tag>
          </td>
          <td class="text-center">
            <span class="blue pointer">View Qoute</span>
          </td>

        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div class="mr-5 d-flex justify-content-end mt-3">
    <nz-pagination [(nzPageIndex)]="currentPage" [(nzPageSize)]="pageSize" [nzTotal]="submittedQuotesCount" (nzPageIndexChange)="changePage($event)"></nz-pagination>
  </div>
</nz-content>
    
    
    
     