<div class="container-64">
  <ngx-spinner></ngx-spinner>
  <ng-container *ngIf="job!==null; else noJob">
    <div class="site-page-header-ghost-wrapper bottom-border">
      <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title><span class="previous">Working Jobs / </span> #{{job.displayId}} Details</nz-page-header-title>
        <nz-page-header-extra>
          <nz-tag nzColor="success" *ngIf="job.status == 'in_work'" class="nz-tag-me">InProgress</nz-tag>
          <nz-tag [nzColor]="'purple'" *ngIf="job.status == 'shipped'" class="nz-tag-me">Shipped</nz-tag>
          <!--          <nz-tag [nzColor]="'red'" *ngIf="job.status == 'Issue'" class="nz-tag-me">Issue</nz-tag>-->
        </nz-page-header-extra>
      </nz-page-header>
    </div>

    <div class="content row">

      <div *ngIf="history" class="col-md-6 border-right">
        <div class="col-md-12 p-24 white-bg scrollable">
          <nz-timeline>
            <nz-timeline-item [nzDot]="cloud">
              <h5><b class="gray-9">Initial Revision</b></h5>
              <p class="gray-8">09.20.2020</p>
              <p class="gray-7">
                Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard.
              </p>


            </nz-timeline-item>
            <nz-timeline-item [nzDot]="cloud">
              <h5><b class="gray-9">Invoice generated</b></h5>
              <p class="gray-8">29.9.2020</p>
              <p class="gray-7">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </nz-timeline-item>
            <nz-timeline-item [nzDot]="cloud" nzColor="gray">
              <h5><b class="gray-8">RFQ Name Created</b></h5>
              <p class="gray-8">01.03.2020</p>
            </nz-timeline-item>
            <nz-timeline-item [nzDot]="cloud" nzColor="gray">
              <h5><b class="gray-8">Engineer submitted revision A for quoting</b></h5>
              <p class="gray-8">03.03.2020</p>
              <p class="gray-7">
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's standard.
              </p>
              <nz-timeline>
                <nz-timeline-item>
                  <h5><b class="red-6"> Issue ID #231311</b></h5>
                  <p class="gray-7">07.03.2020</p>
                </nz-timeline-item>
              </nz-timeline>
            </nz-timeline-item>
          </nz-timeline>

          <ng-template #cloud>
            <i nz-icon nzType="cloud-download" nzTheme="outline"></i>
          </ng-template>
        </div>
      </div>

      <nz-tabset *ngIf="!history" class="col-md-6 border-right">

        <nz-tab nzTitle="RFQ Details">
          <div class="firts-tab-content">

            <div class="col-md-12 pt-30px scrollable">

              <div class="row">
                <div class="col-md-6">
                  <div class="summary">
                    <h6><b class="mb-2">RFQ SUMMARY</b></h6>
                    <p>
                      Shop handling part: <b>{{job.shop.companyLegalName}}</b>
                    </p><br>
                    <p>
                      Selected part <b>{{job.part.name}}</b>
                    </p>
                    <p>
                      Part revision: <b>{{job.revision.name}}</b>
                    </p>
                    <p>
                      Material selected: <b>{{job.requestQuote.materialType}}</b>
                    </p>
                    <p>
                      Quantity: <b>{{job.requestQuote.partQuantity}}</b>
                    </p>
                    <p>
                      Part needed by: <b>{{job.requestQuote.partDateNeeded | conceptXDateTimePipe}}</b>
                    </p>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="job.revision.attachments.length>0">
                  <h6><b class="mb-1">PREVIEW</b></h6>
                  <app-file-previewer [file]="job.revision.attachments[0]"></app-file-previewer>
                </div>
              </div>
              <div class="mt-30px">

                <div class="mt-4 row">
                  <div class="col-md-12">
                    <h6><b class="mb-2">NOTES</b></h6>
                    <p class="gray-8">
                      {{job.requestQuote.notes}}
                    </p>
                  </div>

                </div>
                <div class="mt-4 row" *ngIf="job.revision.attachments.length>0">
                  <div class="col-md-12">
                    <h6><b class="mb-2">ATTACHED FILES</b></h6>
                  </div>
                  <div class="col-md-12" *ngFor="let att of job.revision.attachments">
                    <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">{{att.fileName}}</a>
                  </div>
                </div>
                <div class="mt-4 row">
                  <div class="col-md-12">
                    <h6><b class="mb-2 mt-2">SHIPPING ADDRESS</b></h6>
                  </div>
                  <div class="col-md-6 summary">
                    <p>
                      Street: <b>{{job.requestQuote.shippingAddress.street}}</b>
                    </p>
                    <p>
                      City: <b>{{job.requestQuote.shippingAddress.city}}</b>
                    </p>
                    <p>
                      Country: <b>{{job.requestQuote.shippingAddress.country}}</b>
                    </p>
                    <p>
                      Quantity: <b>{{job.requestQuote.partQuantity}}</b>
                    </p>
                    <p>
                      Selected part <b>{{job.part.name}}</b>
                    </p>
                    <p>
                      Part revision: <b>{{job.revision.name}}</b>
                    </p>

                    <p>
                      Part needed by: <b>{{job.requestQuote.partDateNeeded | conceptXDateTimePipe}}</b>
                    </p>
                  </div>

                </div>

              </div>


            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Quote Details">
          <div class="quote-details-tab">
            <div class="col-md-12 pt-30px scrollable">
              <div class="row">
                <div class="col-md-6">
                  <div class="summary">
                    <h6><b class="mb-2">MACHINE X</b></h6>
                    <p>
                      Shop Name: <b> {{job.shop.companyLegalName}}</b>
                    </p>
                    <p>
                      Shop Phone Number: <b> {{job.shop.businessPhoneNumber}}</b>
                    </p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="summary">
                    <h6><b class="mb-1">QUOTE #{{job.quote.displayId}}</b></h6>
                    <p>
                      Creation Date: <b> {{job.quote.creationDate | conceptXDateTimePipe}}</b>
                    </p>
                    <!--                    <p>-->
                    <!--                      Engineer Name: <b> {{job.requestQuote.engineer.username}}</b>-->
                    <!--                    </p>-->
                    <p>
                      Part Name: <b> {{job.part.name}}</b>
                    </p>
                    <!--                    <p>-->
                    <!--                      Engineer Email: <b> {{job.requestQuote.engineer.email}}</b>-->
                    <!--                    </p>-->
                  </div>
                </div>
              </div>
              <div class="mt-30px">
                <nz-table [nzShowPagination]="false" #basicTable [nzData]="job.quote.lineItems">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit Cost</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let lineItem of job.quote.lineItems">
                    <td>{{ lineItem.id }}</td>
                    <td>{{ lineItem.description }}</td>
                    <td>{{ lineItem.quantity }}</td>
                    <td>{{ lineItem.price | currency: 'USD' }}</td>
                    <td>{{ (lineItem.price * lineItem.quantity) | currency: 'USD' }}</td>
                  </tr>
                  </tbody>
                </nz-table>
                <div class="mt-2 row">
                  <div class="col-md-8">
                    <b>Note</b>
                    <p>
                      {{job.quote.shopQuoteNotes}}
                    </p>
                  </div>
                  <div class="col-md-3">
                    <p class=" tax text-center">+ Tax {{job.quote.tax | currency: 'USD'}}</p>
                    <p class=" tax text-center">+ Shipping rate {{job.quote.shippingRate | currency: 'USD'}}</p>
                    <nz-table [nzShowPagination]="false" #basicTable [nzData]="[job.quote.grandTotal]">
                      <thead>
                      <tr>
                        <th>Grand Total</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class="blue">{{job.quote.grandTotal | currency: 'USD'}}</td>
                      </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
                <ng-container *ngIf="job.quote.attachments.length>0">
                  <div>
                    <span class="blue">*</span>Attached files
                  </div>
                  <div *ngFor="let att of job.quote.attachments">
                    <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">{{att.fileName}}</a>
                  </div>
                </ng-container>
              </div>

            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Job Details">
          <div class="firts-tab-content">

            <div class="col-md-12 pt-30px scrollable">

              <div class="row">
                <div class="col-md-6">
                  <div class="summary">
                    <h6><b class="mb-2">JOB SUMMARY</b></h6>
                    <p>
                      Shop handling part: <b>{{job.shop.companyLegalName}}</b>
                    </p><br>
                    <p>
                      Selected part <b>{{job.part.name}}</b>
                    </p>
                    <p>
                      Part revision: <b>{{job.revision.name}}</b>
                    </p>
                    <p>
                      Material selected: <b>{{job.requestQuote.materialType}}</b>
                    </p>
                    <p>
                      Quantity: <b>{{job.requestQuote.partQuantity}}</b>
                    </p>
                    <p>
                      Part needed by: <b>{{job.requestQuote.partDateNeeded | conceptXDateTimePipe}}</b>
                    </p>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="job.revision.attachments.length>0">
                  <h6><b class="mb-1">PREVIEW</b></h6>
                  <app-file-previewer [file]="job.revision.attachments[0]"></app-file-previewer>
                </div>
              </div>
              <div class="mt-30px">

                <div class="mt-4 row">
                  <div class="col-md-12">
                    <h6><b class="mb-2">NOTES</b></h6>
                    <p class="gray-8">
                      {{job.revision.notes}}
                    </p>
                  </div>

                </div>
                <div class="mt-4 row">
                  <div class="col-md-12">
                    <h6><b class="mb-2">ATTACHED FILES</b></h6>
                  </div>
                  <div class="col-md-12" *ngFor="let att of job.revision.attachments">
                    <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">{{att.fileName}}</a>
                  </div>
                </div>
                <div class="mt-4 row">
                  <div class="col-md-12">
                    <h6><b class="mb-2 mt-2">SHIPPING ADDRESS</b></h6>
                  </div>
                  <div class="col-md-6 summary">
                    <p>
                      Street: <b>{{job.requestQuote.shippingAddress.street}}</b>
                    </p>
                    <p>
                      City: <b>{{job.requestQuote.shippingAddress.city}}</b>
                    </p>
                    <p>
                      Country: <b>{{job.requestQuote.shippingAddress.country}}</b>
                    </p>
                    <p>
                      Quantity: <b>{{job.requestQuote.partQuantity}}</b>
                    </p>
                    <p>
                      Selected part <b>{{job.part.name}}</b>
                    </p>
                    <p>
                      Part revision: <b>{{job.revision.name}}</b>
                    </p>

                    <p>
                      Part needed by: <b>{{job.requestQuote.partDateNeeded | conceptXDateTimePipe}}</b>
                    </p>
                  </div>

                </div>

              </div>


            </div>
          </div>
        </nz-tab>
      </nz-tabset>


      <nz-tabset class="col-md-6">

        <nz-tab [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon nzType="message" nzTheme="outline"></i>
            Chat
          </ng-template>
          <div class=" chat-tap col-md-12 white-bg">
            <app-chat [enableIssueMode]="job.status==='in_work' || job.status==='pending'" [quoteId]="job.quote.id"></app-chat>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
    <nz-footer *ngIf="history">
      <button (click)="hideHistory()" nz-button class="mar-2" nzType="default">Back</button>

    </nz-footer>
    <nz-footer *ngIf="!history">
      <div>
        <button (click)="startJob()" nz-button class="mar-2" nzType="primary">Open Invoice</button>
        <button data-toggle="modal" data-target="#ShareModal" nz-button class="mar-2" nzType="default">Share<i nz-icon nzType="share-alt" nzTheme="outline"></i></button>

      </div>


      <div class="push-r">
        <button (click)="showHistory()" nz-button class="mar-2" nzType="default">History<i nz-icon nzType="history" nzTheme="outline"></i></button>

        <button (click)="showShippingModal()" nz-button class="mar-2 purple-btn" [disabled]="job.status!=='in_work'">Ship Part <i nz-icon nzType="export" nzTheme="outline"></i></button>
      </div>

    </nz-footer>

  </ng-container>
  <ng-template #noJob>
    <!--  ToDo  what to show if no rfq-->
    No job
  </ng-template>
</div>


<nz-modal [(nzVisible)]="isShippingModalVisible"
          nzTitle="Shipping Details">
  <form [formGroup]="shippingForm" (ngSubmit)="submitShippingForm()">
    <ng-container *ngIf="shippingForm.invalid && shippingForm.errors && (shippingForm.dirty || shippingForm.touched)">
      <div class="form-error" *ngFor="let error of shippingForm.errors.APIErrors">{{ error }}</div>
    </ng-container>
    <div class="row mt-1">
      <p class="col-12"><span class="blue">*</span>Shipping company</p><br>
      <div class="col-12">
        <input class="col-12" type="text" nz-input placeholder="Shipping Company" formControlName="company"/>
        <ng-container *ngIf="shippingForm.controls.company.invalid && (shippingForm.controls.company.dirty || shippingForm.controls.company.touched)">
          <div class="form-error" *ngFor="let error of shippingForm.controls.company.errors.APIErrors">{{ error }}</div>
          <div class="form-error" *ngIf="shippingForm.controls.company.errors.required">This field is required</div>
        </ng-container>
      </div>
    </div>
    <div class="row mt-1">
      <p class="col-12"><span class="blue">*</span>Tracking ID</p><br>
      <div class="col-12">
        <input class="col-12" type="text" nz-input placeholder="ID" formControlName="trackingId"/>
        <ng-container *ngIf="shippingForm.controls.trackingId.invalid && (shippingForm.controls.trackingId.dirty || shippingForm.controls.trackingId.touched)">
          <div class="form-error" *ngFor="let error of shippingForm.controls.trackingId.errors.APIErrors">{{ error }}</div>
          <div class="form-error" *ngIf="shippingForm.controls.trackingId.errors.required">This field is required</div>
        </ng-container>
      </div>
    </div>

    <div class="row mt-3">
      <p class="col-12"><span class="blue">*</span>Status</p><br>
      <div class="col-12">
        <input class="col-12" type="text" nz-input placeholder="status" formControlName="status"/>
        <ng-container *ngIf="shippingForm.controls.status.invalid && (shippingForm.controls.status.dirty || shippingForm.controls.status.touched)">
          <div class="form-error" *ngFor="let error of shippingForm.controls.status.errors.APIErrors">{{ error }}</div>
          <div class="form-error" *ngIf="shippingForm.controls.status.errors.required">This field is required</div>
        </ng-container>
      </div>
    </div>
    <ng-template [nzModalFooter]>
      <button type="button" nz-button nzType="default" (click)="cancelShipping()">Cancel</button>
      <button type="button" (click)="submitShippingForm()" nz-button nzType="primary" [disabled]="shippingForm.invalid">Submit</button>
    </ng-template>
  </form>
</nz-modal>

<div class="modal fade" id="ShareModal" tabindex="-1" role="dialog" aria-labelledby="ShareModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <b> <img src="../../../assets/img/share.svg" style="margin-right:10px"> Share with others</b>
        <div class="modal-content-custom-email">
          <div class="row mt-1">
            <p class="col-12"><span class="blue">*</span>Email</p><br>
            <div class="col-10"><input nz-input placeholder="email@domain.com"/></div>
            <div class="col-2">
              <img (click)="addEmail()" src="../../../assets/img/plus-circle.svg">
            </div>
          </div>
          <div class="row mt-2" *ngFor="let email of receivers">
            <div class="col-10"><input nz-input placeholder="email@domain.com"/></div>
            <div class="col-2">
              <img (click)="removeEmail()" src="../../../assets/img/delete.svg">
            </div>
          </div>
          <div class="row mt-3">
            <p class="col-12">Add a note</p><br>
            <div class="col-12">
              <textarea rows="4" nz-input></textarea>

            </div>
          </div>
          <div class="mt-2 push-r">
            <button nz-button class="mar-2" nzType="default" data-dismiss="modal">Close</button>
            <button nz-button nzType="primary" type="button" data-dismiss="modal">Share</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ShipModal" tabindex="-1" role="dialog" aria-labelledby="ShipModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <b> <img src="../../../assets/img/exportion.svg" style="margin-right:10px"> Shipping Details</b>
        <div class="modal-content-custom-email">
          <div class="row mt-1">
            <p class="col-12"><span class="blue">*</span>Shipping Date</p><br>
            <div class="col-12">
              <nz-date-picker class="col-12" [(ngModel)]="date" [nzFormat]="dateFormat">
              </nz-date-picker>
            </div>
          </div>
          <div class="row mt-1">
            <p class="col-12"><span class="blue">*</span>Shipping company</p><br>
            <div class="col-12">
              <select id="cars" nz-input>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <p class="col-12"><span class="blue">*</span>Tracking Number</p><br>
            <div class="col-12">
              <textarea rows="4" nz-input placeholder="Description of this issue"></textarea>

            </div>
          </div>
          <div class="mt-2 push-r">
            <button nz-button class="mar-2" nzType="default" data-dismiss="modal">Close</button>
            <button nz-button nzType="primary" type="button" data-dismiss="modal">Share</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    