<div class="modal-body">
  <form (ngSubmit)="share()" [formGroup]="form">
    <b> <img src="../../../assets/img/share.svg" style="margin-right:10px"> Share with others</b>
    <div class="modal-content-custom-email">

      <div formArrayName="emails">
        <div *ngFor="let email of emails.controls; let i=index">
          <div [formGroupName]="i" class="row mt-1">

            <p class="col-12"><span class="blue">*</span>Email</p><br>
            <div class="col-10">
              <input [formControl]="email" nz-input placeholder="email@domain.com"/>
              <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                <nz-alert *ngFor="let error of email.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                <nz-alert *ngIf="email.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                <nz-alert *ngIf="email.errors.email" nzMessage="Invalid email" nzShowIcon nzType="error"></nz-alert>
              </ng-container>
            </div>

            <div *ngIf="i===0; else remove" class="col-2">
              <img (click)="addEmail()" src="../../../assets/img/plus-circle.svg">
            </div>
            <ng-template #remove>
              <div class="col-2">
                <img (click)="removeEmail(i)" src="../../../assets/img/delete.svg">
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <p class="col-12">Add a note</p><br>
        <div class="col-12">
          <textarea formControlName="notes" nz-input rows="4"></textarea>
          <ng-container *ngIf="form.controls.notes.invalid && (form.controls.notes.dirty || form.controls.notes.touched)">
            <nz-alert *ngFor="let error of form.controls.notes.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
            <nz-alert *ngIf="form.controls.notes.errors.maxlength" nzMessage="max length ({{form.controls.notes.errors.maxlength.requiredLength}}) exceeded" nzShowIcon nzType="error"></nz-alert>
          </ng-container>
        </div>
      </div>
      <div class="mt-2 push-r">
        <button class="mar-2" data-dismiss="modal" id="closeShareModalBtn" nz-button nzType="default" type="button">Close</button>
        <button [disabled]="form.invalid" nz-button nzType="primary" type="submit">Share</button>
      </div>
    </div>
  </form>
</div>