<div class="container-64px" style="position: relative">
  <ngx-spinner [fullScreen]="false"></ngx-spinner>
  <div class="site-page-header-ghost-wrapper bottom-border">
    <nz-page-header [nzGhost]="false">
      <nz-page-header-title>Settings</nz-page-header-title>
    </nz-page-header>
  </div>

  <div *ngIf="shopProfile" class="content row">

    <nz-tabset class="col-md-12" nzTabPosition="left">
      <nz-tab [nzTitle]="AccountSettings">
        <ng-template #AccountSettings>
          <i nz-icon nzTheme="outline" nzType="setting"></i>
          Account Settings
        </ng-template>
        <small> Account Settings </small>
      </nz-tab>
      <nz-tab [nzTitle]="company">
        <ng-template #company>
          <i nz-icon nzTheme="outline" nzType="user"></i>
          Company Details
        </ng-template>

        <div class="row custom-tab-X">
          <div class="col-md-12 accordion" id="Companyaccordion">


            <!-- 1 -->
            <div class="card">
              <div class="card-headerCom" id="headingOne">
                <h2 class="mb-0">
                  <button aria-controls="collapseOne" aria-expanded="true" class="btn co-btn btn-link btn-block text-left" data-target="#collapseOne" data-toggle="collapse" type="button">
                    <span>Legal Information</span>
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingOne" class="collapse show" data-parent="#Companyaccordion" id="collapseOne">
                <div class="card-body row">
                  <div class="summary">
                    <p>
                      Company Legal Name as in EIN registration: <b>{{shopProfile.companyLegalName}}</b>
                    </p>
                    <p>
                      Country: <b> {{shopProfile.country}}</b>
                    </p>
                    <!--                    <p>-->
                    <!--                      Main payment gateway: <b>Stripe</b>-->
                    <!--                    </p>-->
                  </div>

                </div>
              </div>
            </div>

            <!-- 2 -->
            <div class="card">
              <div class="card-headerCom" id="headingTwo">
                <h2 class="mb-0">
                  <button aria-controls="collapseTwo" aria-expanded="false" class="btn co-btn btn-link btn-block text-left collapsed" data-target="#collapseTwo" data-toggle="collapse" type="button">
                    Business Details
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingTwo" class="collapse" data-parent="#Companyaccordion" id="collapseTwo">
                <div class="card-body row">
                  <div class="summary">
                    <h6><b class="mb-2">Business Name</b></h6>
                    <p>
                      Legal Business Name: <b>{{shopProfile.legalBusinessName}}</b>
                    </p>
                    <p>
                      Employer Identification Number (EIN):<b>{{shopProfile.einNumber}}</b>
                    </p>
                    <p>
                      Doing Business As:<b> {{shopProfile.doingBusinessAs}}</b>
                    </p>

                    <h6 class=" mt-3"><b class="mb-2 mt-3">Registered Business Address</b></h6>
                    <p>
                      Address Line 1: <b>{{shopProfile.addressLine1}}</b>
                    </p>
                    <p *ngIf="shopProfile.addressLine2">
                      Address Line 2: <b>{{shopProfile.addressLine2}} </b>
                    </p>
                    <p>
                      City: <b>{{shopProfile.city}}</b>
                    </p>
                    <p>
                      State: <b>{{shopProfile.state}}</b>
                    </p>
                    <p>
                      Zip Code: <b>{{shopProfile.zipCode}}</b>
                    </p>

                    <h6 class=" mt-3"><b class="mb-2 mt-3">Additional Information</b></h6>
                    <p>
                      Business Phone Number: <b> {{shopProfile.businessPhoneNumber}}</b>
                    </p>
                    <p>
                      Industry: <b>{{shopProfile.industry}}</b>
                    </p>
                    <p>
                      Company Website: <b>{{shopProfile.businessWebsite}}</b>
                    </p>

                  </div>
                </div>
              </div>
            </div>

            <!-- 3 -->
            <div class="card">
              <div class="card-headerCom" id="headingThree">
                <h2 class="mb-0">
                  <button aria-controls="collapseThree" aria-expanded="false" class="btn co-btn btn-link btn-block text-left collapsed" data-target="#collapseThree" data-toggle="collapse"
                          type="button">
                    Representatives
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingThree" class="collapse" data-parent="#Companyaccordion" id="collapseThree">
                <div class="card-body row">
                  <div class="summary">
                    <h6><b class="mb-2">Legal Name of Representative</b></h6>
                    <p>
                      First Name: <b>{{shopProfile.representativeFirstName}}</b>
                    </p>
                    <p>
                      Last Name:<b>{{shopProfile.representativeLastName}} </b>
                    </p>
                    <p>
                      Email: <b> {{shopProfile.representativeEmail}}</b>
                    </p>
                    <p>
                      Job Title: <b> {{shopProfile.representativeJobTitle}}</b>
                    </p>
                    <!--                    <p>-->
                    <!--                      Date of Birth:<b>15.04.1945</b>-->
                    <!--                    </p>-->

                    <h6 class=" mt-3"><b class="mb-2">Home Address of Representative</b></h6>
                    <p>
                      Address Line 1: <b>{{shopProfile.representativeAddressLine1}}</b>
                    </p>
                    <p *ngIf="shopProfile.representativeAddressLine2">
                      Address Line 2: <b>{{shopProfile.representativeAddressLine2}}</b>
                    </p>
                    <p>
                      City: <b>{{shopProfile.representativeCity}}</b>
                    </p>
                    <p>
                      State: <b>{{shopProfile.representativeState}}</b>
                    </p>
                    <p>
                      Zip Code: <b>{{shopProfile.representativeZip}}</b>
                    </p>

                    <h6 class=" mt-3"><b class="mb-2 mt-3">Additional Information of Representative</b></h6>
                    <p>
                      Phone Number 1: <b> {{shopProfile.representativePhoneNumber}}</b>
                    </p>
                    <p>
                      Last 4 digits of Social Security number: <b>{{shopProfile.representativeSsn}}</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- 4 -->
            <div class="card">
              <div class="card-headerCom" id="headingfour">
                <h2 class="mb-0">
                  <button aria-controls="collapsefour" aria-expanded="false" class="btn co-btn btn-link btn-block text-left collapsed" data-target="#collapsefour" data-toggle="collapse" type="button">
                    Business Owners
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingfour" class="collapse" data-parent="#Companyaccordion" id="collapsefour">
                <div class="card-body row">
                  <div class="summary">
                    <ng-container *ngFor="let businessOwner of shopProfile.businessOwners; let i=index">
                      <!--                      <h6><b class="mb-2">Shareholder #1</b></h6>-->
                      <h6 class=" mt-3"><b class="mb-2">Shareholder #{{i + 1}}</b></h6>
                      <p>
                        Name: <b>{{businessOwner.firstName}} {{businessOwner.lastName}}</b>
                      </p>
                      <p>
                        Email: <b> {{businessOwner.email}}</b>
                      </p>
                    </ng-container>
                  </div>

                </div>
              </div>
            </div>


            <!-- 5 -->
            <div class="card">
              <div class="card-headerCom" id="headingFive">
                <h2 class="mb-0">
                  <button aria-controls="collapseFive" aria-expanded="false" class="btn co-btn btn-link  btn-block text-left collapsed" data-target="#collapseFive" data-toggle="collapse"
                          type="button">
                    Additional Documents
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingFive" class="collapse" data-parent="#Companyaccordion" id="collapseFive">
                <div class="card-body row">
                  <div class="col-md-4">
                    <!--                    <div class="summary">-->
                    <!--                      <h6><b class="mb-2">Document #1</b></h6>-->
                    <!--                      <p>-->
                    <!--                        Number: <b>...</b>-->
                    <!--                      </p>-->
                    <!--                      <p>-->
                    <!--                        Name: <b> ... </b>-->
                    <!--                      </p>-->
                    <!--                      <p>-->
                    <!--                        Type: <b>..</b>-->
                    <!--                      </p>-->
                    <!--                      <p>-->
                    <!--                        Issued by: <b>..</b>-->
                    <!--                      </p>-->
                    <!--                      <p>-->
                    <!--                        Available until: <b>..</b>-->
                    <!--                      </p>-->
                    <!--                    </div>-->

                  </div>
                  <div *ngIf="shopProfile.attachments?.length > 0" class="col-md-4">
                    <div class="summary">
                      <h6><b class="mb-3"></b> Attachments</h6>

                      <div *ngFor="let att of shopProfile.attachments" class="col-12">
                        <i class="file-clip" nz-icon nzTheme="outline" nzType="paper-clip"></i> <a class="blue file">{{att.fileName}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </nz-tab>


      <nz-tab [nzTitle]="payout">
        <ng-template #payout>
          <i nz-icon nzTheme="outline" nzType="dollar-circle"></i>
          Payout Options
        </ng-template>
        <form [formGroup]="shopProfilePayOutForm">
          <div class="row custom-tab-X">
            <div class="col-md-12 accordion" id="Paymentaccordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link btn-block text-left" data-target="#collapseOne" data-toggle="collapse" type="button">
                      <!-- <i nz-icon nzType="bank" class="payIcon" nzTheme="outline"></i>  -->
                      <span> Bank Account</span>
                    </button>
                  </h2>
                </div>

                <div aria-labelledby="headingOne" class="collapse show" data-parent="#Paymentaccordion" id="collapseOne">
                  <div class="card-body row">

                    <div class="col-md-4">
                      <div class="row mt-3">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Account Holder Name</span></div>
                          <input formControlName="bankAccountHolderName" nz-input placeholder="John Smith" type="name"/>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.bankAccountHolderName.invalid && (shopProfilePayOutForm.controls.bankAccountHolderName.dirty || shopProfilePayOutForm.controls.bankAccountHolderName.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.bankAccountHolderName.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountHolderName.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountHolderName.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.bankAccountHolderName.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>

                      <div class="row mt-1">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Account Number</span></div>
                          <input formControlName="bankAccountNumber" nz-input placeholder="99821023" type="name"/>
                          <div class="hint">
                            Must be a checking account
                          </div>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.bankAccountNumber.invalid && (shopProfilePayOutForm.controls.bankAccountNumber.dirty || shopProfilePayOutForm.controls.bankAccountNumber.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.bankAccountNumber.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountNumber.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountNumber.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.bankAccountNumber.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>


                      <div class="row mt-1">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Wire Routing Number</span></div>
                          <input formControlName="bankAccountRoutingNumber" nz-input placeholder="2893783" type="name"/>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.bankAccountRoutingNumber.invalid && (shopProfilePayOutForm.controls.bankAccountRoutingNumber.dirty || shopProfilePayOutForm.controls.bankAccountRoutingNumber.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.bankAccountRoutingNumber.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountRoutingNumber.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountRoutingNumber.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.bankAccountRoutingNumber.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="row mt-3">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Currency</span></div>
                          <input formControlName="bankAccountCurrency" nz-input placeholder="USD" type="name"/>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.bankAccountCurrency.invalid && (shopProfilePayOutForm.controls.bankAccountCurrency.dirty || shopProfilePayOutForm.controls.bankAccountCurrency.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.bankAccountCurrency.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountCurrency.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountCurrency.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.bankAccountCurrency.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>

                      <div class="row mt-1">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Bank Name</span></div>
                          <input formControlName="bankAccountBankName" nz-input placeholder="Morgan Chase" type="name"/>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.bankAccountBankName.invalid && (shopProfilePayOutForm.controls.bankAccountBankName.dirty || shopProfilePayOutForm.controls.bankAccountBankName.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.bankAccountBankName.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountBankName.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountBankName.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.bankAccountBankName.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>


                      <div class="row mt-1">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Address</span></div>
                          <input formControlName="bankAccountAddress" nz-input placeholder="DW, 553901, Arlington Bvd., 3" type="name"/>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.bankAccountAddress.invalid && (shopProfilePayOutForm.controls.bankAccountAddress.dirty || shopProfilePayOutForm.controls.bankAccountAddress.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.bankAccountAddress.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountAddress.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.bankAccountAddress.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.bankAccountAddress.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <label nz-checkbox>Set as default payout option.</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link btn-block text-left collapsed" data-target="#collapseTwo" data-toggle="collapse" type="button">
                      <!-- <i nz-icon nzType="dollar-circle"  nzTheme="outline"></i>  Cash -->
                      Card
                    </button>
                  </h2>
                </div>
                <div aria-labelledby="headingTwo" class="collapse" data-parent="#Paymentaccordion" id="collapseTwo">
                  <div class="card-body row">
                    <div class="col-md-4">
                      <div class="row mt-3">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Card Holder Name</span></div>
                          <input formControlName="cardHolderName" nz-input placeholder="John Smith" type="name"/>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.cardHolderName.invalid && (shopProfilePayOutForm.controls.cardHolderName.dirty || shopProfilePayOutForm.controls.cardHolderName.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.cardHolderName.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.cardHolderName.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.cardHolderName.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.cardHolderName.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>

                      <div class="row mt-1">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Card number</span></div>
                          <input formControlName="cardNumber" nz-input placeholder="4566-2332-3009-3122-5521" type="name"/>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.cardNumber.invalid && (shopProfilePayOutForm.controls.cardNumber.dirty || shopProfilePayOutForm.controls.cardNumber.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.cardNumber.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.cardNumber.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.cardNumber.errors.maxlength" nzMessage="max length ({{shopProfilePayOutForm.controls.cardNumber.errors.maxlength.requiredLength}}) exceeded" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>


                      <div class="row mt-1">
                        <div class="col-md-9">
                          <div class="mb-2"><span class="blue">*</span><span class="input-title">Expiration Date</span></div>
                          <nz-date-picker [nzFormat]="dateFormat" class="col-12" formControlName="cardExpiryDate">
                          </nz-date-picker>
                          <ng-container
                            *ngIf="shopProfilePayOutForm.controls.cardExpiryDate.invalid && (shopProfilePayOutForm.controls.cardExpiryDate.dirty || shopProfilePayOutForm.controls.cardExpiryDate.touched)">
                            <nz-alert *ngFor="let error of shopProfilePayOutForm.controls.cardExpiryDate.errors.APIErrors" nzMessage="{{ error }}" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.cardExpiryDate.errors.required" nzMessage="This field is required" nzShowIcon nzType="error"></nz-alert>
                            <nz-alert *ngIf="shopProfilePayOutForm.controls.cardExpiryDate.errors.pattern" nzMessage="Follow the pattern MM/YY" nzShowIcon
                                      nzType="error"
                            ></nz-alert>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <label nz-checkbox>Set as default payout option.</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </nz-tab>
      <nz-tab [nzTitle]="notification">
        <ng-template #notification>
          <i nz-icon nzTheme="outline" nzType="bell"></i>
          Notifications
        </ng-template>
        <small>Notifications</small>
      </nz-tab>
    </nz-tabset>
  </div>


  <nz-footer>
    <button (click)="saveChanges()" *ngIf="shopProfile" [disabled]="shopProfilePayOutForm.dirty && shopProfilePayOutForm.invalid" class="mar-2" nz-button nzType="primary"
            type="button">
      Save details
    </button>
  </nz-footer>
</div>