.part-detials{
    padding: 24px;
    background-color: white;
    /* min-height: 680px; */
    /* padding-bottom: 64px; */
    overflow-y: auto;
    height: calc(100% - 136px);
}
.main-container-64{
 height: calc(100vh - 64px);
}
.previous{
    color:grey;
    font-size: 20px;
    font-family: "SFPDLight" !important;
}
.bottom-border{
    border-bottom: 1px solid #E8E8E8;
}
.preview{
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.img-preview{
    width: 277px;
    height: 180px;
    background-color: #F5F5F5;
}
.row{
    margin: 0;
}
.p-left{
    padding-left: 20px;
}
.col-9{
    -ms-flex: 0 0 73%;
    flex: 0 0 73%; 
    max-width: 73%;
}
.ast{
    color:#1890FF
}
.fieldname{
font-family: "SFPDsemi";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}
.drag{
    border: 1px dashed #D9D9D9;
    background-color: #f5f5f5;
    height: 168px;
}
nz-footer{
    padding: 16px 24px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color:#fff ;
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 210px);
  }
  .center{
      margin: auto;
      padding-top:22px ;
      text-align: center;
  }
  .drag-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:#262626;
  }
  .drag-desc{
    padding: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color:#8C8C8C;
  }
  .ant-upload-list{
    background: #E6F7FF !important;
    color: #1890FF !important;
  }
  .mar-2{
      margin-right: 12px;
  }
  .ant-modal {
      top:50% !important;
  }
  .section-title{
      font-size: 16px;
      font-family: SFPDsemi;
      color:#000;
  }
  .sub-title{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#BFBFBF;
  }
  .blue-partname{
    font-family: SFPDsemi;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#1890FF;
  }
  .note-body{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:#595959;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
  }
  .part-preview{
    margin-top: 12px;
    width: 100%;
    height: 272px;
    background-position: center;
    background-color: #F5F5F5;
    background-size: contain;
  }
  .mr-t-24{
      margin-top: 24px;
  }
  .add-new-revision{
      width: 100%;
      border: 1px dashed #BFBFBF;
      height: 72px;
      text-align: center;
      cursor: pointer;
  }
  .blue-color{
      color:#1890FF;
      line-height: 72px;
  }
  .revision{
      background-color: #FAFAFA;
      height: 72px;
      width: 100%;
      box-shadow: inset 0px -1px 0px #F0F0F0;
  }
  .revision-selected{
    background: #fff;
    border-bottom: 3px solid #1890FF;
    height: 72px;
    width: 100%;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .list-title-desc{
      padding: 12px;
  }
  .added{
      color:rgba(0, 0, 0, 0.45);
      font-size: 12px;
      margin: 0;
  }
  .added-date{
    color:rgba(0, 0, 0, 0.45);
    font-size: 14px;
  }
  .revisionsList{
      max-height: 200px;
      overflow-y: auto;
  }
  .custom-menu{
      width: 120%;
      padding: 10px;
  }
  .custom-menu>li{
      padding: 6px 12px;
      font-size: 14px;
      justify-content: space-between;
  }

  .download-icon{
    float: right;
    top: 3px;
    font-size: 16px;
    position: relative;
  }
  .custom-menu>li:hover{
   color:#1890FF;
}