<nz-content>
  <div class="d-flex justify-content-between mt-4 title-jobs-header">
    <p class="font-20-600">Working Jobs</p>

  </div>

  <div class="p-24px">
    <div nz-row nzGutter="">
      <div class="search-bar col-12 my-3 pl-2">
        <div class="col-6 d-flex p-0 space-b">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Search part name / Quote Number / RFQ ID"/>
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button class="grey-icon-btn" nzType="ghost" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
          <button nz-button nzTrigger="click" class="space-b" nz-dropdown [nzDropdownMenu]="Datecreated">
            Date created
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #Datecreated="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>133</li>
              <li nz-menu-item>2</li>
              <li nz-menu-item>3</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <nz-table [nzShowPagination]="false" class="col-md-12" #basicTable [nzData]="jobsPage">
        <thead>
        <tr>
          <th>Job ID</th>
          <th>Invoice</th>
          <th>Total Cost</th>
          <th class="text-center">Date</th>
          <th class="text-center">Status</th>

        </tr>
        </thead>
        <tbody>
        <tr (click)="onSelect(job)" *ngFor="let job of jobsPage">
          <td>{{job.displayId}}</td>
          <td class="blue">{{job.payment.invoiceNumber}}</td>
          <td class="text-left">${{job.payment.amount}}</td>
          <td class="text-center">{{job.creationDate | conceptXDateTimePipe}}</td>
          <td class="text-center" *ngIf="job.status==='in_work'">
            <nz-tag nzColor="success">In Progress</nz-tag>
          </td>
          <td class="text-center" *ngIf="job.status==='shipped'">
            <nz-tag [nzColor]="'purple'">Shipped</nz-tag>
          </td>

          <td class="text-center" *ngIf="job.status==='Issue'">
            <nz-tag nzColor="red"><i nz-icon nzType="warning" nzTheme="outline"></i><span>Issue</span></nz-tag>
          </td>

        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <div class="mr-5 d-flex justify-content-end mt-3">
    <nz-pagination [(nzPageIndex)]="currentPage" [(nzPageSize)]="pageSize" [nzTotal]="jobsCount" (nzPageIndexChange)="changePage($event)"></nz-pagination>
  </div>
</nz-content>
    
    
    
     