@font-face {
    font-family: SFPDBlack;
    src: url(assets/fonts/SFProDisplay-Black.ttf);
}

@font-face {
    font-family: SFPDBold;
    src: url(assets/fonts/SFProDisplay-Bold.ttf);
}

@font-face {
    font-family: SFPDRegular;
    src: url(assets/fonts/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family: SFPDLight;
    src: url(assets/fonts/SFProDisplay-Light.ttf);
}

@font-face {
    font-family: SFPDThin;
    src: url(assets/fonts/SFProDisplay-Thin.ttf);
}

@font-face {
    font-family: SFPDsemi;
    src: url(assets/fonts/SFProDisplay-Semibold.ttf);
}

body {
    font-family: 'SFPDRegular';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.container-64px {
    height: calc(100vh - 64px) !important;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1890FF;
    width: 2px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1890FF;
}

.blue {
    color: #1890FF !important;
}

.gray-9 {
    color: #262626 !important;
}

.gray-8 {
    color: #595959 !important;
}

.gray-7 {
    color: #8C8C8C !important;
}

.gray-6 {
    color: #BFBFBF !important;
}

.red-6 {
    color: #f5222d !important;
}

.bottom-border {
    border-bottom: 1px solid #E8E8E8;
}

.push-rigth {
    float: right;
}

nz-footer {
    padding: 16px 24px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15) !important;
    background-color: #fff;
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 210px);
    height: 64px;
}

.gray-st {
    height: 30px;
    width: 100% !important;
    background-color: #f0f2f5;
}

.summary > p > b {
    color: #262626 !important;
    /* margin: 0px !important; */
}

/* .content{
  overflow-y: scroll;
} */


@media (min-width: 1800px) {
    .content, .part-detials {
        height: calc(100vh - 180px) !important;
    }
}

.ant-steps-item-title {
    width: 150px !important;
}

.ant-steps-item-description {
    width: 150px !important;
}

.ant-menu-submenu > .ant-menu {
    background-color: #001529;
    border-radius: 2px;
}

.bottom-border {
    border-bottom: 1px solid #E8E8E8;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
    bottom: 0;
    /* left:15px !important; */
}

.ant-tabs-tab {
    margin: 0 32px 0 15px !important;
}

.ant-tabs-tab .anticon {
    margin-right: 2px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1890ff;
    font-weight: 900;
}

.ant-menu-horizontal {
    line-height: 46px;
    border: 0;
    border-bottom: 0px;
    box-shadow: none;
}

.cdk-overlay-backdrop, .ant-modal-mask, .cdk-overlay-backdrop-showing {
    background: rgb(0 39 102 / 0.9);
}

.ant-modal-header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    border-bottom: 0px solid #ffffff;
    border-radius: 2px 2px 0 0;
}

.ant-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 900;
    font-size: 19px;
    line-height: 22px;
    word-wrap: break-word;
}

.ant-modal-title > .ng-star-inserted {
    padding-left: 27px;
}

.ant-modal-title > .ng-star-inserted::before {
    content: "";
    background-image: url(assets/img/exportion.svg);
    height: 30px;
    position: absolute;
    width: 30px;
    left: 20px;
    background-repeat: no-repeat;
    display: inline;
}


.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding-left: 0px !important;
}

.form-error {
    color: red;
}

/* new changes */

.font-16-600{
    font-size: 16px !important;
    font-weight: 600 !important;
}
.font-12-400{
    font-size: 12px !important;
    font-weight: 400 !important;
}
.font-14-600{
    font-size: 14px !important;
    font-weight: 600 !important;
}
.font-18-600{
    font-size: 18px !important;
    font-weight: 600 !important;
}
.font-16-400{
    font-size: 16px !important;
    font-weight: 400 !important;
}
.font-20-600{
    font-size: 20px !important;
    font-weight: 600 !important;
}

.font-24-600{
    font-size: 24px !important;
    font-weight: 600 !important;
}

.font-14-400{
    font-size: 14px !important;
    font-weight: 400 !important;
}

.previous {
    font-size: 14px !important;
    font-family: SFPDLight !important;
}

.custom-route-label .anticon-arrow-left path{
    fill: #1890FF;
}

.custom-hr{
    border-bottom: 1.5px solid #F5F6FA;
    margin-bottom: 1em;
}


/* sidemenu changes */

.custom-submenu > .ant-menu{
    background: transparent !important;
}
.custom-submenu > .ant-menu .ant-menu-item{
    color: #ffffff !important;
}

.custom-submenu > .ant-menu .ant-menu-item:hover{
    color: #1890ff !important;
}

.custom-submenu .ant-menu-submenu-title{
    display: flex;
    align-items: center;
}

.custom-submenu i::before,.custom-submenu i::after  {
    background-image: linear-gradient(to right, #ffffff, #ffffff) !important;
}

.custom-submenu li{
    width: 90% !important;
    margin: auto;
    padding-left: 31px !important;
}
.ant-layout-sider-children{
    height: auto !important;
}
/* sidemenu changes end */


/* pagination style*/

.ant-pagination i{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-pagination-item-active{
    color: #1890FF !important;
    border: 1.25px solid;
}
button.ant-pagination-item-link.ng-star-inserted,.ant-pagination-item{
    border-radius: 4px;
}

/* pagination style end */

.blue-7{
    color: #096DD9 !important;
}

.blue-8{
    color: #1890FF !important;
}

.sky-blue{
    background: #E6F7FF !important;
}

.daybreak-blue{
    color: #1890FF !important;
}


/* chat css*/

.chat-pop-up{
    position: fixed;
    right: 0;
    top: 0;
    width: 562px;
    height: 100%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
    background: white;
}

.chat-pop-up-title{
    font-size: 16px;
    font-weight: 600;
}

.chat-pop-cross-btn{
    cursor: pointer;
}

.chat-btn{
    background: #1548A6;
    border-radius: 50%;
    position: absolute;
    right:3%;
    z-index: 10;
    cursor: pointer;
    bottom: 45px;
}

.chat-btn img{
    width: 60px;
    height: 60px;
    padding: 14px;
}


.engineer-chat-box .ant-comment-inner{
    display: flex;
    flex-direction: row-reverse;
}

.engineer-chat-box .ant-comment-content-author{
    display:flex;
    justify-content: flex-end;
}

.engineer-chat-box .ant-comment-content-detail{
    margin-left: auto;
    margin-right: 4%;
}
.engineer-chat-box .ant-comment-avatar{
    margin: 0;
}

.chat-outgoing img{
    background: #E8E8E8;
    padding: 7px;
}
.chat-incoming img{
    background: #1590ff;
    padding: 7px;
}
.engineer-chat-box .ant-comment-content-author-name{
    color: #1590ff;
    font-weight: 600;
}

.ant-comment-content-author-name{
    font-weight: 600;
}

/* chat css end */

.custom-thumb .thumb{
    height: 110px !important;
    width: 124px !important;
}

/* working job details changes */
.ant-tabs-tab{
    padding: 4px 0 !important;
    margin-left: 0 !important;
}

.ant-tabs-tab-btn{
    font-weight: 600 !important;
    font-size: 16px !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #096DD9 !important;
}

.job-details-thumb .thumb {
    height: 149px !important;
    width: 100% !important;
}

.ant-modal-close-x{
    display: none !important;
}

/* rfq-table */

.rfq-table .ant-table-placeholder{
    display: none;
}

.gray-tr td{
    background: #F5F5F5 !important;
    border-bottom: 1px solid white !important;
}