.previous{
    color:rgba(191,191,191,1);
    font-size: 20px;
    font-family: SFPDLight !important;
  }
  .container-64px{
      height: calc(100vh - 64px);
  }
  .content{
     
      background-color: #fff;
      /* padding: 24px; */
      height: calc(100% - 136px);
      overflow-y: auto;
  }
  nz-footer{
    padding: 16px 24px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color:#fff ;
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 210px);
    height: 64px;
  }
  .blue{
    color: #1890ff;
}
.mar-2{
    margin-right: 12px;
}
.header{
    font-size: 20px;
}
.push-right{
    float: right !important;
}
.summary>p{
    margin: 0px !important;
}

.summary>title{
    font-size: 20px;
    color:#262626;
}
.text-right{
    text-align: right;
}
th{
    font-weight: 900 !important;
    color: #262626 !important;
}
.gray-bg{
    background-color: #F5F5F5;
}
.pt-30px{
    padding-top:30px;
}
.full-height{
    height: 100% !important;
}

.modal-content-custom-email{
    padding: 20px;
}
.modal-content{
  padding: 33px 11px;
}
.modal {
    background-color:rgba(0, 39, 102, 0.8);
    backdrop-filter: blur(4px);
}
.modal-dialog{
  margin: auto;
  width: 33% !important;
}
.text-right{
  text-align: right;
}