<div class="container-64">
  <ngx-spinner [fullScreen]="false"></ngx-spinner>
  <ng-container *ngIf="rfq!==null; else noRfq">
    <div class="site-page-header-ghost-wrapper bottom-border">
      <nz-page-header nzBackIcon [nzGhost]="false">
        <nz-page-header-title><span class="previous">New RFQs / </span> RFQ #{{rfq.displayId}}</nz-page-header-title>
      </nz-page-header>
    </div>

    <div class="content row">

      <div class="col-md-3 gray-bg"></div>
      <div class="col-md-6 pt-30px scrollable">
        <div class="row">
          <div class="col-md-6">
            <!--            <div class="summary">-->
            <!--              <p>-->
            <!--                <b> Shop Name: </b>Quantum PHX-->
            <!--              </p>-->
            <!--              <p>-->
            <!--                <b> Address: </b>R221, ST.Monica Pier-->
            <!--              </p>-->
            <!--              <p>-->
            <!--                <b> City:</b> San Jose-->
            <!--              </p>-->
            <!--              <p>-->
            <!--                <b> State: </b> CA, 41211-->
            <!--              </p>-->
            <!--              <p>-->
            <!--                <b> Shop Phone Number:</b> A+1(514)213331-->
            <!--              </p>-->
            <!--            </div>-->
          </div>

          <div class="col-md-6">
            <div class="summary">
              <!-- <h6><b class="mb-1">QUOTE #2308</b></h6> -->
              <p>
                <b> Engineer Name:</b> {{rfq.engineer.username}}
              </p>
              <p>
                <b> Part Name:</b> {{rfq.part.name}}
              </p>
              <p>
                <b> Engineer Email: </b> {{rfq.engineer.email}}
              </p>
            </div>
          </div>
        </div>
        <div class="mt-30px">
          <nz-table [nzShowPagination]="false" #basicTable [nzData]="form.controls.lineItems.value">
            <thead>
            <tr>
              <th>#</th>
              <th>Item Name</th>
              <th>Quantity</th>
              <th>Unit Cost</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lineItem of form.value.lineItems; let i = index">
              <td>#{{ i }}</td>
              <td>{{lineItem.description}}</td>
              <td>{{lineItem.quantity}}</td>
              <td>{{lineItem.price | currency: 'USD'}}</td>
              <td>{{(lineItem.price * lineItem.quantity) | currency: 'USD'}}</td>
            </tr>
            </tbody>
          </nz-table>
          <div class="mt-2 row">
            <div class="col-md-8">
              <b>Note</b>
              <p>
                {{form.value.shopQuoteNotes}}
              </p>
            </div>
            <div class="col-md-3">
              <p class=" tax text-center">+ Shipping rate {{form.value.shippingRate | currency: 'USD'}}</p>
              <p class=" tax text-center">+ Tax {{form.value.tax | currency: 'USD'}}</p>
              <p class=" tax text-center">+ Platform fees {{platformFees | currency: 'USD'}}</p>
              <nz-table [nzShowPagination]="false" #basicTable [nzData]="[grandTotal]">
                <thead>
                <tr>
                  <th>Grand Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="blue">{{ grandTotal | currency: 'USD' }}</td>
                </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
          <ng-container *ngIf="form.value.attachments.length > 0">
            <div>
              <span class="blue">*</span>Attached files
            </div>
            <div *ngFor="let att of form.value.attachments">
              <i class="file-clip" nz-icon nzType="paper-clip" nzTheme="outline"></i> <a class="blue file">{{att.name}}</a>
            </div>
          </ng-container>
        </div>

      </div>

      <div class="col-md-3 gray-bg"></div>

    </div>


    <nz-footer>
      <button nz-button class="mar-2" (click)="submitQuote()" nzType="primary">Submit Quote</button>
      <button nz-button class="mar-2" (click)="showDeleteConfirm()">Cancel</button>

    </nz-footer>
  </ng-container>
  <ng-template #noRfq>
    <!--  ToDo  what to show if no rfq-->
    No Request quote
  </ng-template>
</div>
  
  
  